.oauth-wrp {
    width:100vw;
    min-height: 100vh;
}
.content-wrp {
    min-height: 100vh;
}
.content {
    min-height: 60vh;
    margin:0 auto;
    width:100%;
    max-width: 400px;
    padding:20vh 0px;
}
.logo {
    background-image: url('/server/public/images/defaults/icon-192x192.png');
    background-size: cover;
}


@media only screen and (min-width: 700px) { 
    .oauth-wrp {
        background: url('/assets/kiilib/images/background.webp');
        background-size: cover;
    }
}