<kii-toolbar></kii-toolbar>
<kii-admin-theme></kii-admin-theme>
<div class="admin-theme kii-admin-chats-wrapper">
  <h1>{{'admin.chat.title' | translate | async}}</h1>
  <div *ngIf="rooms.length>0" class="kii-admin-chats-content">
    <div class="kii-admin-chats-rooms-wrapper">
            <button *ngFor="let room of rooms" class="kii-room-button" mat-button color="primary" [matBadge]="countMessages(room.messages)" matBadgePosition="before" matBadgeColor="accent" (click)="openRoom(room)">
                <div class="kii-admin-room">
                  <div class="date-wrapper">
                    <small><fa-icon [icon]="icons['clock']"></fa-icon>{{room.date | date:'HH:mm'}}</small>
                  </div>
                  <i class="fas fa-person-booth"></i>
                  <small>{{room.id}}</small>
                </div>
            </button>
    </div>
</div>
<div *ngIf="rooms.length==0" class="kii-admin-chats-empty-wrapper">
    <h1 class="kii-admin-chats-title empty">{{'admin.chat.rooms.empty' | translate | async}}</h1>
</div>
</div>
