<div class="video-gallery-dialog admin-dialog">
    <p mat-dialog-title>{{'admin.video.dialog.t' | translate | async}}</p>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" novalidate autocomplete="on"> 
          <div mat-dialog-content class="content">
              <mat-form-field [appearance]="kiiInputAppearance">
                  <mat-label>{{'admin.video.title.l' | translate | async}}</mat-label>
                  <input matInput formControlName="video" placeholder="{{'admin.video.title.p' | translate | async}}" required type="text">
                  <mat-icon matPrefix class="icon"><fa-icon [icon]="icons['video']"></fa-icon></mat-icon>
                  <mat-hint>{{'admin.video.title.h' | translate | async}}</mat-hint>
                  <mat-error kiiInputError="video"></mat-error>            
              </mat-form-field>
          </div>
          <div mat-dialog-actions class="actions">
              <button mat-button color="primary" type="none" (click)="onClose()">{{'admin.cancel' | translate | async}}</button>
              <button mat-flat-button color="primary" type="submit">{{'admin.create' | translate | async}}</button>
          </div>
    </form>
</div>