    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" novalidate autocomplete="on"> 
     <mat-form-field [appearance]="kiiInputAppearance">
         <mat-label>{{'a.email.l' | translate | async}}</mat-label>
         <input matInput formControlName="email" placeholder="{{'a.email.p' | translate | async}}" required type="email" autocomplete="email">
         <mat-icon matPrefix class="icon"><fa-icon [icon]="icon['email']"></fa-icon></mat-icon>
         <mat-hint>{{'a.email.h' | translate | async}}</mat-hint>
         <mat-error kiiInputError="email"></mat-error>    
     </mat-form-field>

     <div class="control-wrapper-submit">
        <button mat-flat-button type="submit" color="primary">{{'a.reset.submit' | translate | async}}</button>
     </div>


   </form>