<kii-contact-theme></kii-contact-theme>
<ngx-json-ld [json]="schemaOrganization"></ngx-json-ld>

<kii-toolbar></kii-toolbar>
<kii-header [data]="{title:'c.header.t',subtitle:'c.header.s'}"></kii-header>
<div *ngIf="!articles.loaded" class="fcc" style="min-height: 140px">
        <kii-spinner ></kii-spinner>
</div>
<div class="content">
    <kii-article [article]="articles.getByKey('contact-header')"></kii-article>
    <div class="contact-form">
        <kii-article [article]="articles.getByKey('contact-form')"></kii-article>
        <kii-contact-form></kii-contact-form>
    </div>
    <div class="contact-address">
            <kii-article [article]="articles.getByKey('contact-address')"></kii-article>
            <kii-osm></kii-osm>
    </div>
    <kii-article [article]="articles.getByKey('contact-footer')"></kii-article>
</div>
<kii-horizontal-scroller class="testimonials-container">
        <kii-element *ngFor="let article of articles.getByCathegory('testimonials')" [ngClass]="article.cathegory">
            <kii-article-summary [article]="article"></kii-article-summary>
            <kii-article [article]="article"></kii-article>
        </kii-element>
</kii-horizontal-scroller>
<kii-footer></kii-footer>

