.content {
    padding:20px;
    box-sizing: border-box;
}
.contact-form,.contact-address {
    display:flex;
    flex-direction: column;
    padding:10
}

@media only screen and (min-width: 700px) {
    .contact-form {
        flex-direction: row;
        justify-content: space-between;
        kii-contact-form {
            flex:1;
            max-width:45%;
        }
        kii-article {
            flex:1;
            max-width:45%;
        }
    }
    .contact-address {
        flex-direction: row-reverse;
        justify-content: space-between;

        kii-article{
            flex:1;
            max-width:45%;
        }
        kii-osm {
            flex:1;
            max-width:45%;
        }
    }
}