  <div class="link-dialog admin-dialog">
      <p mat-dialog-title>{{'admin.link.dialog.t' | translate | async}}</p>
      <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" novalidate autocomplete="on"> 
            <div mat-dialog-content class="content">
                <mat-form-field [appearance]="kiiInputAppearance" >
                    <mat-label>{{'admin.link.type.l' | translate | async}}</mat-label>
                    <mat-select value="default" formControlName="class">
                    <mat-option  value="default">{{'admin.link.default' | translate | async}}</mat-option>
                    <mat-option  value="normal-button">{{'admin.link.button' | translate | async}}</mat-option>
                    <mat-option  value="flat-button">{{'admin.link.flat' | translate | async}}</mat-option>
                    <mat-option  value="raised-button">{{'admin.link.raised' | translate | async}}</mat-option>
                    <mat-option  value="stroked-button">{{'admin.link.stroked' | translate | async}}</mat-option>
                    </mat-select>
                    <mat-hint>{{'admin.link.type.h' | translate | async}}</mat-hint>
                </mat-form-field>
                <mat-form-field [appearance]="kiiInputAppearance">
                    <mat-label>{{'admin.link.title.l' | translate | async}}</mat-label>
                    <input matInput formControlName="title" placeholder="{{'admin.link.title.p' | translate | async}}" required type="text">
                    <mat-icon matPrefix class="icon"><fa-icon [icon]="icons['title']"></fa-icon></mat-icon>
                    <mat-hint>{{'admin.link.title.h' | translate | async}}</mat-hint>
                    <mat-error kiiInputError="title"></mat-error>            
                </mat-form-field>
                <mat-form-field [appearance]="kiiInputAppearance">
                    <mat-label>{{'admin.link.url.l' | translate | async}}</mat-label>
                    <input matInput formControlName="url" placeholder="{{'admin.link.url.p' | translate | async}}" required type="text">
                    <mat-icon matPrefix class="icon"><fa-icon [icon]="icons['url']"></fa-icon></mat-icon>
                    <mat-hint>{{'admin.link.url.h' | translate | async}}</mat-hint>
                    <mat-error kiiInputError="url"></mat-error>            
                </mat-form-field>
            </div>
            <div mat-dialog-actions class="actions">
                <button mat-button color="primary" type="none" (click)="onClose()">{{'admin.cancel' | translate | async}}</button>
                <button mat-flat-button color="primary" type="submit">{{'admin.create' | translate | async}}</button>
            </div>
      </form>
</div>