<kii-auth-theme></kii-auth-theme>
<div class="signup-wrp">
    <div class="content">
        <kii-spinner-overlay [show]="isLoading">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="logo"></div>
                    <mat-card-title>{{'a.signup.t' | translate | async}}</mat-card-title>
                    <mat-card-subtitle>{{'a.signup.s' | translate | async}}</mat-card-subtitle>
                </mat-card-header>
                <kii-passports></kii-passports>
                <kii-signup-form  (kiiOnSubmit)="onSubmit($event)"></kii-signup-form>
            </mat-card>
        </kii-spinner-overlay>
    </div>
</div>

