<div class="wrp">
             <div class="column">
               <button mat-button class="item" [routerLink]="'home' | translateRoute | async">{{'m.menu.home' | translate | async}}</button>
               <button mat-button class="item" [routerLink]="'blog'">{{'m.menu.blog' | translate | async}}</button>
               <button mat-button class="item" [routerLink]="'contact'">{{'m.menu.contact' | translate | async}}</button>
             </div>
             <div class="column">
               <ng-container *ngIf="!loggedInUser.exists()">
                <button  mat-button class="item" [routerLink]="'auth/login' | translateRoute | async">{{'m.menu.login' | translate | async}}</button>
                <button  mat-button class="item" [routerLink]="'auth/signup' | translateRoute | async">{{'m.menu.signup' | translate | async}}</button>
              </ng-container>
              <ng-container *ngIf="loggedInUser.exists()">
                <button mat-button class="item" [routerLink]="'auth/profile' | translateRoute | async">{{'m.menu.profile' | translate | async}}</button>
                <button mat-button class="item" (click)="logout()">{{'m.menu.logout' | translate | async}}</button>
              </ng-container> 
               <button mat-button class="item" [routerLink]="'legal/cookies' | translateRoute | async ">{{'m.menu.cookies' | translate | async}}</button>
               <button mat-button class="item" [routerLink]="'legal/user-data' | translateRoute | async ">{{'m.menu.user-data' | translate | async}}</button>
               <ng-container *ngIf="loggedInUser.hasRoles()">
                  <button mat-button class="item" color="primary" [routerLink]="'admin/menu' | translateRoute | async">{{'m.menu.admin' | translate | async}}</button>
              </ng-container> 
            </div>
             <div class="column">
               <p class="txt-b title">CONTACT</p>   
             </div>
</div>
