.wrp {
    max-width: 1200px;
    margin:0 auto;
    padding-top:30px;
    .menu {
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        color:rgba(white,0.6);
        .column {
            width:100%;
            min-width: 320px;
            flex-direction: column;
            flex:1;
            .item {
                display: block;
                width:100%;
                text-align: left;
            }
        }
    }

}
