<div class="wrp">
             <div class="column">
               <button mat-button class="item" [routerLink]="'home' | translateRoute | async">{{'m.menu.home' | translate | async}}</button>
               <button mat-button class="item" [routerLink]="'blog'">{{'m.menu.blog' | translate | async}}</button>
               <button mat-button class="item" [routerLink]="'contact'">{{'m.menu.contact' | translate | async}}</button>
             </div>
             <div class="column">
               <button mat-button class="item" [routerLink]="'auth/login'">{{'m.menu.login' | translate | async}}</button>
               <button mat-button class="item" [routerLink]="'auth/signup'">{{'m.menu.signup' | translate | async}}</button>
               <button mat-button class="item" [routerLink]="'legal/cookies' | translateRoute | async ">{{'m.menu.cookies' | translate | async}}</button>
               <button mat-button class="item" [routerLink]="'legal/user-data' | translateRoute | async ">{{'m.menu.user-data' | translate | async}}</button>
             </div>
             <div class="column">
               <p class="txt-b title">CONTACT</p>   
             </div>
</div>
