<h2>{{'admin.email.send.t' | translate | async}}</h2>    
<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" novalidate autocomplete="on"> 
     <mat-checkbox formControlName="self">{{'admin.email.self' | translate | async}}</mat-checkbox>
     <mat-checkbox formControlName="users">{{'admin.email.users' | translate | async}}</mat-checkbox>
     <mat-checkbox formControlName="newsletters">{{'admin.email.newsletters' | translate | async}}</mat-checkbox>
 
     <div class="fcl controls">
        <button mat-flat-button type="submit" color="primary" [disabled]="disabled"><fa-icon [icon]="icons['send']"></fa-icon> {{'admin.email.send' | translate | async}}</button>
     </div>

   </form>