:host {
    display:block;
    max-width: 100%;
    min-width: 50px;
    width:inherit;
}
.kii-email-widget-wrp {
    min-width: 100px;
    display:block;
    box-sizing: border-box;
    min-width: 50px;
    min-height: 20px;
    textarea {
        box-sizing: border-box;
        width:100%;
    }
    .editing-part {
        padding:15px;
        .url-input {
            box-sizing: border-box;
            border:1px solid;
            border-radius: 5px;
            background:white;
            width:100%;
            padding:8px;
            margin-bottom:10px;
        }
        .color-input {
            display:none;
        }
        mat-slider {
            width:100%;
        }
    }
}

.kii-email-widget-wrp.is-empty .content {
    min-width: 80px;
    min-height: 40px;
    background:rgba(grey,0.4);
}
