<div class="kii-email-widget-wrp" [ngClass]="getClasses()"
                  [ngStyle]="{

                  }">
   <ng-container *ngIf="widget.isImage()">
      <button mat-flat-button *ngIf="widget.getContent() == null" (click)="openGallery()">Insert image</button>
      <p>Image</p>
   </ng-container>
   <ng-container *ngIf="widget.isText()">
      <div class="content" [innerHtml]="trustedHtml"></div>
      <div class="editing-part">
         <textarea #myTextArea type="text" class="textarea" [value]="untrustedHtml" (keyup)="textareaKey($event)"></textarea>
      </div>
   </ng-container>
   <ng-container *ngIf="widget.isHeading()">
      <h1>Heading</h1>
   </ng-container>
</div>

