    <div class="wrapper">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" novalidate> 
            <mat-form-field>
                <mat-label>Page</mat-label>
                <mat-select formControlName="page" (selectionChange)="onPageChange($event)">
                <mat-option *ngFor="let page of pages" [value]="page.page">
                    {{page.page}}
                </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field [appearance]="kiiInputAppearance">
                    <mat-label>Title</mat-label>
                    <input matInput formControlName="title"  required type="text" [kiiInputDefaultValue]="currentPage.title">
                    <mat-icon matPrefix class="icon"><i class="fas fa-heading"></i></mat-icon>
                    <mat-hint>Page title</mat-hint>
                    <mat-error kiiInputError="title"></mat-error>    
            </mat-form-field>
            <mat-form-field [appearance]="kiiInputAppearance">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description"  required type="text" [kiiInputDefaultValue]="currentPage.description"></textarea>
                    <mat-icon matPrefix class="icon"><i class="fas fa-paragraph"></i></mat-icon>
                    <mat-hint>Page description</mat-hint>
                    <mat-error kiiInputError="description"></mat-error>    
            </mat-form-field>  
            <kii-image-upload [config]="config" formControlName="image" [kiiInputDefaultValue]="currentPage.getImage()"></kii-image-upload>
        
            <div class="control-wrapper">
                    <button mat-flat-button type="submit" color="primary">Save</button>
            </div>
        </form>
    </div>