<div class="wrp" (click)="onClick($event)">
        <ng-container *ngIf="isCellContext()" >
            <button mat-icon-button [matMenuTriggerFor]="menu"><fa-icon [icon]="icons['add']"></fa-icon></button>
            <mat-menu #menu="matMenu">
                <button *ngFor="let type of itemTypes" mat-menu-item  class="item" (click)="addItem(type)">
                        <fa-icon [icon]="getIcon(type)"></fa-icon>
                </button>
            </mat-menu>
        </ng-container>    



        <button mat-icon-button><fa-icon [icon]="icons['bgColor']" (click)="bgColor.click()"></fa-icon></button>
        <button mat-icon-button><fa-icon [icon]="icons['color']" (click)="color.click()"></fa-icon></button>

        <input #bgColor type="color" (change)="onBgColor($event)">
        <input #color type="color" (change)="onColor($event)">

</div>

