  <div class="gallery-dialog admin-dialog">
      <p mat-dialog-title>{{'admin.gallery.dialog.t' | translate | async}}</p>
            <div mat-dialog-content class="content">
                <kii-spinner-overlay [show]="isDataLoading">
                <div class="gallery">
                        <div *ngFor="let image of images" mat-ripple class="image-wrapper" (click)="onImage(image)">
                            <img  [src]="image">
                        </div>
                </div>
                </kii-spinner-overlay>

            </div>
            <kii-image-upload [config]="configUpload" image="./assets/kiilib/images/no-photo.svg" (onUpload)="onUpload($event)"></kii-image-upload>
            <div mat-dialog-actions class="actions">
                <button mat-button color="primary" type="none" (click)="onClose()">{{'admin.cancel' | translate | async}}</button>
            </div>
</div>