.gallery-dialog {
    min-width: 270px;
    max-width: 700px;
    width:100%;
}
.content {
    display: flex;
    flex-direction: column;
    mat-form-field {
        margin-bottom:15px;
    }
    fa-icon {
        font-size: 16px;
        margin-right: 10px;
        opacity: 0.6;
    }
    .gallery {
        border:1px solid;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        min-height: 200px;
        max-height: 30vh;
        overflow-y: auto;
        .image-wrapper {
            margin:5px;
            width:70px;
            height:70px;
            box-sizing: border-box;
            border:1px transparent;
            img {
                width:100%;
            }
            &:hover {
                cursor:pointer;
                border:1px solid;
            }
        }
    }
}
.actions {
    display:flex;
    justify-content: space-between;
}