<kii-toolbar></kii-toolbar>
<kii-admin-theme></kii-admin-theme>
<div class="admin-theme popup-wrapper">  
  <kii-spinner-overlay [show]="isLoading">  
    <h1>{{'admin.popup.title' | translate | async}}</h1>
    <mat-slide-toggle color="primary" (change)="onStatusChange($event)" [checked]="enabled">{{'admin.popup.enable' | translate | async}}</mat-slide-toggle>   
    <div class="article-wrapper">
      <kii-admin-article [article]="articles.getByKey('dialog-initial')"></kii-admin-article>
    </div>
  </kii-spinner-overlay>  
</div>
