.spinner-wrp {
    position:relative;
    width:100%;
    height:100%;
}

.loader {
    position:absolute;
    height: 160px;
    width: 160px;
    background-image: url('/assets/kiilib/images/loading.svg');
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}