<kii-header></kii-header>
<p>kii-home works!</p>
<p>kii-home works!</p>
<p>kii-home works!</p>
<p>kii-home works!</p>
<p>kii-home works!</p>
<p>kii-home works!</p>
<div style="display:flex;flex-direction:column">
<img alt="A lazy image" class="lazy" data-src="/assets/images/chat-icon.svg">
<p>kii-home works!</p>
<p>kii-home works!</p>
<p>kii-home works!</p>
<p>kii-home works!</p>
<img alt="A lazy image" class="lazy" data-src="/assets/images/content-icon.svg">
<p>kii-home works!</p>
<p>kii-home works!</p>
<p>kii-home works!</p>
<p>kii-home works!</p>
<img alt="A lazy image" class="lazy" data-src="/assets/images/graph-icon.svg">
</div>
<p>{{'m.cookies.subtitle' | translate | async}}</p>
