.wrp {
    box-sizing: border-box;
    width:100%;
    display:flex;
    border:1px solid transparent;
    &>kii-email-cell {
        min-width: 10px;
        min-height: 50px;
        flex:1;
    }
    
    &.double_left {
        kii-email-cell:nth-child(2) {
            flex:2;
        }
    }
    &.double_right {
        kii-email-cell:nth-child(1) {
            flex:2;
        }
    }
}

.wrp.is-active {
    border:1px solid white;
}



@media only screen and (max-width: 700px) {

}