mat-toolbar {
    z-index: 100;
    position:fixed;
    top:0px;
    left:0px;
    a {
        border-radius: 50vh;
    }
    background:transparent;
}
.wrp {
    flex:1 1 auto;
}

.avatar {
    width:20px;
    height:20px;
    border:1px solid white;
}
fa-icon {
    font-size: 18px;
}

.kii-main-btn {
    background-image: url("/assets/kiilib/images/menu.svg");
    background-size: cover;
    transition: all 0.2s ease-in-out;
}

@media only screen and (min-width: 700px) { 
    .kii-main-btn {
        display: none;
    }

}