<mat-toolbar itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
        <mat-toolbar-row>
          <a mat-icon-button class="kii-main-btn" title="{{'kiilib.link.title.menu' | translate | async}}" [routerLink]="'/sidenav' | translateRoute | async">
          </a>
          <div class="wrp">
          <app-toolbar></app-toolbar>
          </div>
          <div class="icons fcc">
            <ng-container *ngIf="!offline">
              <ng-container *ngIf="loggedInUser.exists()">
                <a mat-icon-button attr.aria-label="{{'m.menu.profile' | translate | async}}" [title]="loggedInUser.getFullName()" [routerLink]="'auth/profile' | translateRoute | async">
                    <img  [src]= "loggedInUser.getAvatar()" class="avatar">
                </a>
                <a mat-icon-button [routerLink]="'auth/notifications' | translateRoute | async">
                    <mat-icon [matBadge]="loggedInUser.getUnreadAlertCount()" [matBadgeOverlap]="true" [matBadgeHidden]="loggedInUser.getUnreadAlertCount()==0" matBadgeColor="warn"><fa-icon [icon]="icons['bell']"></fa-icon></mat-icon>
                </a>
              </ng-container>
              <ng-container *ngIf="!loggedInUser.exists()">
                  <a mat-icon-button attr.aria-label="{{'m.menu.login' | translate | async}}" [routerLink]="'auth/login' | translateRoute | async">
                    <fa-icon [icon]="icons['login']"></fa-icon>
                  </a>
              </ng-container>
              <kii-language-selector></kii-language-selector>
              <ng-container *ngIf="loggedInUser.hasRoles()">
                  <a mat-icon-button [routerLink]="'admin/menu' | translateRoute | async">
                    <fa-icon [icon]="icons['admin']"></fa-icon>
                  </a>
              </ng-container>
            </ng-container>
            <fa-icon *ngIf="offline" [icon]="icons['offline']"></fa-icon>
          </div>
        </mat-toolbar-row>
</mat-toolbar>
