<div class="wrp">
    <button mat-icon-button [matMenuTriggerFor]="menuExtraItem"><fa-icon [icon]="icons['menu']"></fa-icon></button>
    <mat-menu #menuExtraItem="matMenu">
        <div style="padding:10px;"  class="kii-email-toolbar-menu" (click)="onClickStop($event)">
            <div style="font-weight:bold;text-align:center;border-bottom:1px solid;margin-bottom:10px">{{item.getData().type}}</div>
            <div style="border-bottom:1px dashed" *ngIf="item.isContainer() || item.isCell()"><small>Add</small></div>
                <ng-container *ngIf="item.isContainer()">
                    <button mat-button *ngFor="let type of item.getAllBlockTypes()"  class="block-type" (click)="onAddBlock(item,type)">
                                <svg *ngIf="type=='simple'" width="80" height="20" version="1.1" viewBox="0 0 21.167 6.6146" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                                    <g
                                    id="layer1"
                                    transform="translate(0,-290.38542)">
                                   <rect
                                      y="290.98648"
                                      x="0.5345391"
                                      height="5.5124335"
                                      width="19.811354"
                                      id="rect1396"
                                      style="opacity:0.8;fill:none;fill-opacity:1;stroke:#ffffff;stroke-width:0.26458332;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:stroke markers fill" />
                                    </g>
                                    </svg>
                                <svg *ngIf="type=='double'" width="80" height="20" version="1.1" viewBox="0 0 21.167 6.6146" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
            
                                    <g
                                    inkscape:label="Layer 1"
                                    inkscape:groupmode="layer"
                                    id="layer1"
                                    transform="translate(0,-290.38542)">
                                    <rect
                                      y="290.98648"
                                      x="0.5345391"
                                      height="5.5124335"
                                      width="19.811354"
                                      id="rect1396"
                                      style="opacity:0.8;fill:none;fill-opacity:1;stroke:#ffffff;stroke-width:0.26458332;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:stroke markers fill" />
                                    <rect
                                      style="opacity:0.8;fill:none;fill-opacity:1;stroke:#ffffff;stroke-width:0.18877739;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:stroke markers fill"
                                      id="rect1400"
                                      width="9.9520464"
                                      height="5.586247"
                                      x="10.430753"
                                      y="290.94958" />
                                    </g>
                                </svg>
                                <svg *ngIf="type=='double_left'" width="80" height="20" version="1.1" viewBox="0 0 21.167 6.6146" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                                    <g
                                    inkscape:label="Layer 1"
                                    inkscape:groupmode="layer"
                                    id="layer1"
                                    transform="translate(0,-290.38542)">
                                   <rect
                                      y="290.98648"
                                      x="0.5345391"
                                      height="5.5124335"
                                      width="19.811354"
                                      id="rect1396"
                                      style="opacity:0.8;fill:none;fill-opacity:1;stroke:#ffffff;stroke-width:0.26458332;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:stroke markers fill" />
                                   <rect
                                      style="opacity:0.8;fill:none;fill-opacity:1;stroke:#ffffff;stroke-width:0.22667849;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:stroke markers fill"
                                      id="rect1400"
                                      width="14.349379"
                                      height="5.586247"
                                      x="6.0334206"
                                      y="290.94958" />
                                    </g>
                                </svg>
                                <svg *ngIf="type=='double_right'" width="80" height="20" version="1.1" viewBox="0 0 21.167 6.6146" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                                    <g
                                    inkscape:label="Layer 1"
                                    inkscape:groupmode="layer"
                                    id="layer1"
                                    transform="translate(0,-290.38542)">
                                   <rect
                                      y="290.98648"
                                      x="0.5345391"
                                      height="5.5124335"
                                      width="19.811354"
                                      id="rect1396"
                                      style="opacity:0.8;fill:none;fill-opacity:1;stroke:#ffffff;stroke-width:0.26458332;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:stroke markers fill" />
                                   <rect
                                      style="opacity:0.8;fill:none;fill-opacity:1;stroke:#ffffff;stroke-width:0.13846128;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:stroke markers fill"
                                      id="rect1400"
                                      width="5.3538857"
                                      height="5.586247"
                                      x="15.028913"
                                      y="290.94958" />
                                    </g>
                                </svg>
                                <svg *ngIf="type=='triple'" width="80" height="20" version="1.1" viewBox="0 0 21.167 6.6146" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                                    <g
                                    inkscape:label="Layer 1"
                                    inkscape:groupmode="layer"
                                    id="layer1"
                                    transform="translate(0,-290.38542)">
                                   <rect
                                      y="290.98648"
                                      x="0.5345391"
                                      height="5.5124335"
                                      width="19.811354"
                                      id="rect1396"
                                      style="opacity:0.8;fill:none;fill-opacity:1;stroke:#ffffff;stroke-width:0.26458332;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:stroke markers fill" />
                                   <rect
                                      style="opacity:0.8;fill:none;fill-opacity:1;stroke:#ffffff;stroke-width:0.15272029;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:stroke markers fill"
                                      id="rect1400"
                                      width="6.5133729"
                                      height="5.586247"
                                      x="13.869425"
                                      y="290.94958" />
                                   <rect
                                      y="290.95035"
                                      x="7.2231779"
                                      height="5.5847268"
                                      width="6.6454878"
                                      id="rect1408"
                                      style="opacity:0.8;fill:none;fill-opacity:1;stroke:#ffffff;stroke-width:0.15424038;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:stroke markers fill" />
                                   <rect
                                      style="opacity:0.8;fill:none;fill-opacity:1;stroke:#ffffff;stroke-width:0.154618;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:stroke markers fill"
                                      id="rect1410"
                                      width="6.6785188"
                                      height="5.5843492"
                                      x="0.53548795"
                                      y="290.98743" />
                                    </g>
                                </svg>
                    </button>
                </ng-container>    
                <ng-container *ngIf="item.isCell()">
                    <button mat-button *ngFor="let type of item.getAllWidgetTypes()"  class="item" (click)="onAddWidget(item,type)">
                            <!--<fa-icon [icon]="getIcon(type)"></fa-icon>-->
                            <p>{{type}}</p>
                    </button>
                </ng-container>
            



            <div style="border-bottom:1px dashed"><small>Background</small></div>
                <button mat-icon-button><fa-icon [icon]="icons['bgColor']" (click)="bgColor.click()"></fa-icon></button>
            <div style="border-bottom:1px dashed"><small>Font</small></div>
                <button mat-icon-button><fa-icon [icon]="icons['color']" (click)="color.click()"></fa-icon></button>
                <button mat-icon-button (click)="setFontStyle('bold')"><fa-icon [icon]="icons['bold']"  [ngClass]="{'is-icon-active':item.getFontBold()}"></fa-icon></button>
                <button mat-icon-button (click)="setFontStyle('italic')"><fa-icon [icon]="icons['italic']" [ngClass]="{'is-icon-active':item.getFontItalic()}"></fa-icon></button>
                <button mat-icon-button (click)="setFontStyle('underline')"><fa-icon [icon]="icons['underline']" [ngClass]="{'is-icon-active':item.getFontUnderline()}" ></fa-icon></button>
                <button mat-icon-button [matMenuTriggerFor]="menuFontSize" (click)="onClickStop($event)" class="icon">
                        <svg width="25" height="25" version="1.1" viewBox="0 0 13.229 13.229" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                            <g transform="translate(0 -283.77)" stroke-width="0">
                            <rect x="2.7929" y="291.53" width="1.2027" height="3.4664" opacity=".609" style="paint-order:stroke markers fill"/>
                            <rect transform="rotate(269.73)" x="-291.55" y=".21978" width="1.2027" height="3.6081" opacity=".609" style="paint-order:stroke markers fill"/>
                            <g transform="matrix(2 0 0 2 -7.1976 -296.89)">
                            <rect x="7.116" y="292.38" width="1.2027" height="3.6081" style="paint-order:stroke markers fill"/>
                            <rect transform="rotate(269.73)" x="-292.56" y="4.5382" width="1.2027" height="3.6081" style="paint-order:stroke markers fill"/>
                            </g>
                            </g>
                        </svg>
                </button>
                <mat-menu #menuFontSize="matMenu">
                        <button *ngFor="let size of item.getAllFontSizes()" mat-menu-item  class="item" (click)="onSetFontSize(item,size)"><span [ngStyle]="{'font-size':size}">{{size}}</span></button>
                </mat-menu>  
                <button mat-icon-button [matMenuTriggerFor]="menuFont" (click)="onClickStop($event)">
                        <fa-icon [icon]="icons['font']"></fa-icon>
                </button>
                <mat-menu #menuFont="matMenu">
                                <button *ngFor="let font of item.getAllFonts()" mat-menu-item  class="item" (click)="onSetFont(item,font)"><div [ngStyle]="{'font-family':font}">{{font}}</div></button>
                </mat-menu>
                <ng-container *ngIf="item.isBlock() || item.isCell() || item.isWidget()">
                    <div style="border-bottom:1px dashed"><small>Alignment horizontal</small></div>
                    <button mat-icon-button class="icon" [ngClass]="{'is-icon-active':item.getAlignHorizontal() == 'left'}" (click)="onHorizontalAlign('left')">
                        <svg width="25" height="25" version="1.1" viewBox="0 0 13.229 13.229" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                            <g transform="translate(0 -283.77)" stroke-width="0">
                            <rect x="1.5902" y="285.73" width=".65729" height="9.2715" style="paint-order:stroke markers fill"/>
                            <rect x="2.2516" y="286.72" width="4.9804" height="7.3108" opacity=".495" style="paint-order:stroke markers fill"/>
                            <rect x="10.204" y="285.73" width=".65729" height="9.2715" style="paint-order:stroke markers fill"/>
                            <rect transform="rotate(90)" x="285.73" y="-10.862" width=".65729" height="9.2715" style="paint-order:stroke markers fill"/>
                            <rect transform="rotate(90)" x="294.34" y="-10.862" width=".65729" height="9.2715" style="paint-order:stroke markers fill"/>
                            </g>
                            </svg>
                    </button>
                    <button mat-icon-button class="icon" [ngClass]="{'is-icon-active':item.getAlignHorizontal() == 'center'}" (click)="onHorizontalAlign('center')">
                            <svg width="25" height="25" version="1.1" viewBox="0 0 13.229 13.229" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                                <g transform="translate(0 -283.77)" stroke-width="0">
                                        <rect x="1.5902" y="285.73" width=".65729" height="9.2715" style="paint-order:stroke markers fill"/>
                                        <rect x="3.6691" y="286.72" width="4.9804" height="7.3108" opacity=".495" style="paint-order:stroke markers fill"/>
                                        <rect x="10.204" y="285.73" width=".65729" height="9.2715" style="paint-order:stroke markers fill"/>
                                        <rect transform="rotate(90)" x="285.73" y="-10.862" width=".65729" height="9.2715" style="paint-order:stroke markers fill"/>
                                        <rect transform="rotate(90)" x="294.34" y="-10.862" width=".65729" height="9.2715" style="paint-order:stroke markers fill"/>
                                </g>
                            </svg>
                    </button>
                    <button mat-icon-button class="icon right" [ngClass]="{'is-icon-active':item.getAlignHorizontal() == 'right'}" (click)="onHorizontalAlign('right')">
                            <svg width="25" height="25" version="1.1" viewBox="0 0 13.229 13.229" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                                <g transform="translate(0 -283.77)" stroke-width="0">
                                <rect x="1.5902" y="285.73" width=".65729" height="9.2715" style="paint-order:stroke markers fill"/>
                                <rect x="2.2516" y="286.72" width="4.9804" height="7.3108" opacity=".495" style="paint-order:stroke markers fill"/>
                                <rect x="10.204" y="285.73" width=".65729" height="9.2715" style="paint-order:stroke markers fill"/>
                                <rect transform="rotate(90)" x="285.73" y="-10.862" width=".65729" height="9.2715" style="paint-order:stroke markers fill"/>
                                <rect transform="rotate(90)" x="294.34" y="-10.862" width=".65729" height="9.2715" style="paint-order:stroke markers fill"/>
                                </g>
                                </svg>
                    </button>
                    <div style="border-bottom:1px dashed"><small>Alignment vertical</small></div>
                    <button mat-icon-button class="icon top" [ngClass]="{'is-icon-active':item.getAlignVertical() == 'top'}" (click)="onVerticalAlign('top')">
                        <svg width="25" height="25" version="1.1" viewBox="0 0 13.229 13.229" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                            <g transform="translate(0 -283.77)" stroke-width="0">
                            <rect x="1.5902" y="285.73" width=".65729" height="9.2715" style="paint-order:stroke markers fill"/>
                            <rect x="2.2516" y="286.72" width="4.9804" height="7.3108" opacity=".495" style="paint-order:stroke markers fill"/>
                            <rect x="10.204" y="285.73" width=".65729" height="9.2715" style="paint-order:stroke markers fill"/>
                            <rect transform="rotate(90)" x="285.73" y="-10.862" width=".65729" height="9.2715" style="paint-order:stroke markers fill"/>
                            <rect transform="rotate(90)" x="294.34" y="-10.862" width=".65729" height="9.2715" style="paint-order:stroke markers fill"/>
                            </g>
                            </svg>
                    </button>
                    <button mat-icon-button class="icon top" [ngClass]="{'is-icon-active':item.getAlignVertical() == 'center'}" (click)="onVerticalAlign('center')">
                            <svg width="25" height="25" version="1.1" viewBox="0 0 13.229 13.229" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                                <g transform="translate(0 -283.77)" stroke-width="0">
                                        <rect x="1.5902" y="285.73" width=".65729" height="9.2715" style="paint-order:stroke markers fill"/>
                                        <rect x="3.6691" y="286.72" width="4.9804" height="7.3108" opacity=".495" style="paint-order:stroke markers fill"/>
                                        <rect x="10.204" y="285.73" width=".65729" height="9.2715" style="paint-order:stroke markers fill"/>
                                        <rect transform="rotate(90)" x="285.73" y="-10.862" width=".65729" height="9.2715" style="paint-order:stroke markers fill"/>
                                        <rect transform="rotate(90)" x="294.34" y="-10.862" width=".65729" height="9.2715" style="paint-order:stroke markers fill"/>
                                </g>
                            </svg>
                    </button>
                    <button mat-icon-button class="icon bottom" [ngClass]="{'is-icon-active':item.getAlignVertical() == 'bottom'}" (click)="onVerticalAlign('bottom')">
                            <svg width="25" height="25" version="1.1" viewBox="0 0 13.229 13.229" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                                <g transform="translate(0 -283.77)" stroke-width="0">
                                <rect x="1.5902" y="285.73" width=".65729" height="9.2715" style="paint-order:stroke markers fill"/>
                                <rect x="2.2516" y="286.72" width="4.9804" height="7.3108" opacity=".495" style="paint-order:stroke markers fill"/>
                                <rect x="10.204" y="285.73" width=".65729" height="9.2715" style="paint-order:stroke markers fill"/>
                                <rect transform="rotate(90)" x="285.73" y="-10.862" width=".65729" height="9.2715" style="paint-order:stroke markers fill"/>
                                <rect transform="rotate(90)" x="294.34" y="-10.862" width=".65729" height="9.2715" style="paint-order:stroke markers fill"/>
                                </g>
                                </svg>
                    </button>
                    <div style="border-bottom:1px dashed"><small>Padding</small></div>
                    <div class="padding-item icon left">
                        <svg width="25" height="25" version="1.1" viewBox="0 0 13.229 13.229" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                            <g transform="translate(0 -283.77)" stroke-width="0">
                            <rect x="1.5902" y="285.73" width="2.4054" height="9.2715" style="paint-order:stroke markers fill"/>
                            <rect transform="matrix(-.018399 -.99983 1 -.0012057 0 0)" x="-290.47" y="-1.2088" width=".44875" height="5.2585" style="paint-order:stroke markers fill"/>
                            <rect x="9.5513" y="285.77" width="1.3187" height="9.2715" opacity=".495" style="paint-order:stroke markers fill"/>
                            <g transform="translate(0 .33073)">
                            <rect transform="matrix(-.74544 -.66657 .61102 -.79162 0 0)" x="-181.15" y="-213.72" width=".42924" height="1.8753" style="paint-order:stroke markers fill"/>
                            <rect transform="matrix(-.74544 .66657 .61102 .79162 0 0)" x="174" y="219.58" width=".42924" height="1.8753" style="paint-order:stroke markers fill"/>
                            </g>
                            <g transform="matrix(-1 0 0 1 13.529 .32439)">
                            <rect transform="matrix(-.74544 -.66657 .61102 -.79162 0 0)" x="-181.15" y="-213.72" width=".42924" height="1.8753" style="paint-order:stroke markers fill"/>
                            <rect transform="matrix(-.74544 .66657 .61102 .79162 0 0)" x="174" y="219.58" width=".42924" height="1.8753" style="paint-order:stroke markers fill"/>
                            </g>
                            </g>
                        </svg>
                        <mat-slider min="0" max="50" step="1" [value]="item.getPadding('left')" thumbLabel tickInterval="1" (change)="onPaddingChange('left',$event)"></mat-slider>
                    </div>
                    <div class="padding-item icon right">
                            <svg width="25" height="25" version="1.1" viewBox="0 0 13.229 13.229" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                                <g transform="translate(0 -283.77)" stroke-width="0">
                                <rect x="1.5902" y="285.73" width="2.4054" height="9.2715" style="paint-order:stroke markers fill"/>
                                <rect transform="matrix(-.018399 -.99983 1 -.0012057 0 0)" x="-290.47" y="-1.2088" width=".44875" height="5.2585" style="paint-order:stroke markers fill"/>
                                <rect x="9.5513" y="285.77" width="1.3187" height="9.2715" opacity=".495" style="paint-order:stroke markers fill"/>
                                <g transform="translate(0 .33073)">
                                <rect transform="matrix(-.74544 -.66657 .61102 -.79162 0 0)" x="-181.15" y="-213.72" width=".42924" height="1.8753" style="paint-order:stroke markers fill"/>
                                <rect transform="matrix(-.74544 .66657 .61102 .79162 0 0)" x="174" y="219.58" width=".42924" height="1.8753" style="paint-order:stroke markers fill"/>
                                </g>
                                <g transform="matrix(-1 0 0 1 13.529 .32439)">
                                <rect transform="matrix(-.74544 -.66657 .61102 -.79162 0 0)" x="-181.15" y="-213.72" width=".42924" height="1.8753" style="paint-order:stroke markers fill"/>
                                <rect transform="matrix(-.74544 .66657 .61102 .79162 0 0)" x="174" y="219.58" width=".42924" height="1.8753" style="paint-order:stroke markers fill"/>
                                </g>
                                </g>
                            </svg>
                            <mat-slider min="0" max="50" step="1" [value]="item.getPadding('right')" thumbLabel tickInterval="1" (change)="onPaddingChange('right',$event)"></mat-slider>
                    </div>
                    <div class="padding-item icon top">
                            <svg width="25" height="25" version="1.1" viewBox="0 0 13.229 13.229" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                                <g transform="translate(0 -283.77)" stroke-width="0">
                                <rect x="1.5902" y="285.73" width="2.4054" height="9.2715" style="paint-order:stroke markers fill"/>
                                <rect transform="matrix(-.018399 -.99983 1 -.0012057 0 0)" x="-290.47" y="-1.2088" width=".44875" height="5.2585" style="paint-order:stroke markers fill"/>
                                <rect x="9.5513" y="285.77" width="1.3187" height="9.2715" opacity=".495" style="paint-order:stroke markers fill"/>
                                <g transform="translate(0 .33073)">
                                <rect transform="matrix(-.74544 -.66657 .61102 -.79162 0 0)" x="-181.15" y="-213.72" width=".42924" height="1.8753" style="paint-order:stroke markers fill"/>
                                <rect transform="matrix(-.74544 .66657 .61102 .79162 0 0)" x="174" y="219.58" width=".42924" height="1.8753" style="paint-order:stroke markers fill"/>
                                </g>
                                <g transform="matrix(-1 0 0 1 13.529 .32439)">
                                <rect transform="matrix(-.74544 -.66657 .61102 -.79162 0 0)" x="-181.15" y="-213.72" width=".42924" height="1.8753" style="paint-order:stroke markers fill"/>
                                <rect transform="matrix(-.74544 .66657 .61102 .79162 0 0)" x="174" y="219.58" width=".42924" height="1.8753" style="paint-order:stroke markers fill"/>
                                </g>
                                </g>
                            </svg>
                            <mat-slider min="0" max="50" step="1" [value]="item.getPadding('top')" thumbLabel tickInterval="1" (change)="onPaddingChange('top',$event)"></mat-slider>
                    </div>                
                    <div class="padding-item icon bottom">
                            <svg width="25" height="25" version="1.1" viewBox="0 0 13.229 13.229" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                                <g transform="translate(0 -283.77)" stroke-width="0">
                                <rect x="1.5902" y="285.73" width="2.4054" height="9.2715" style="paint-order:stroke markers fill"/>
                                <rect transform="matrix(-.018399 -.99983 1 -.0012057 0 0)" x="-290.47" y="-1.2088" width=".44875" height="5.2585" style="paint-order:stroke markers fill"/>
                                <rect x="9.5513" y="285.77" width="1.3187" height="9.2715" opacity=".495" style="paint-order:stroke markers fill"/>
                                <g transform="translate(0 .33073)">
                                <rect transform="matrix(-.74544 -.66657 .61102 -.79162 0 0)" x="-181.15" y="-213.72" width=".42924" height="1.8753" style="paint-order:stroke markers fill"/>
                                <rect transform="matrix(-.74544 .66657 .61102 .79162 0 0)" x="174" y="219.58" width=".42924" height="1.8753" style="paint-order:stroke markers fill"/>
                                </g>
                                <g transform="matrix(-1 0 0 1 13.529 .32439)">
                                <rect transform="matrix(-.74544 -.66657 .61102 -.79162 0 0)" x="-181.15" y="-213.72" width=".42924" height="1.8753" style="paint-order:stroke markers fill"/>
                                <rect transform="matrix(-.74544 .66657 .61102 .79162 0 0)" x="174" y="219.58" width=".42924" height="1.8753" style="paint-order:stroke markers fill"/>
                                </g>
                                </g>
                            </svg>
                            <mat-slider min="0" max="50" step="1" [value]="item.getPadding('bottom')" thumbLabel tickInterval="1" (change)="onPaddingChange('bottom',$event)"></mat-slider>
                    </div>                
                </ng-container>
                    

        </div>
    </mat-menu>
    <ng-container *ngIf="item.isBlock()">
        <button mat-icon-button (click)="onMoveUpItem(item)"><fa-icon [icon]="icons['up']"></fa-icon></button>
        <button mat-icon-button (click)="onMoveDownItem(item)"><fa-icon [icon]="icons['down']"></fa-icon></button>
        <button mat-icon-button (click)="onRemoveItem(item)"><fa-icon [icon]="icons['trash']"></fa-icon></button>
    </ng-container>

        <input #bgColor type="color" (change)="onBgColor($event)">
        <input #color type="color" (change)="onColor($event)">

</div>

