
.kii-stats-indicator-wrapper {
    width:100%;
    height:150px;
    min-width: 145px;
    padding:2px;
    display:flex;
    flex-direction: column;
}
.kii-stats-indicator-container {
    border:1px solid;
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    padding:5px;

}

.kii-stats-indicator-top {
    display:flex;
    justify-content: flex-end;
}

.kii-stats-indicator-middle {
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
}

.kii-stats-indicator-bottom {
    text-align: center;
    font-size: 14px;
    opacity: 0.6;
}

.green {
    color:green;
}
.red {
    color:red;
}

.kii-stats-indicator-wrapper.big {
    min-width: 290px;
    height:300px;
    padding:2px;
    font-size: 200%;
    .kii-stats-indicator-middle {
        font-size: 90px;
    }
    .kii-stats-indicator-bottom {
        font-size: 30px;
    }
}