<div class="sidenav-wrp">
    <div class="fcr">
        <button mat-icon-button [routerLink]="'home' | translateRoute | async"><fa-icon [icon]="icons['close']"></fa-icon></button>
    </div>
    <div class="logo"></div>
    <div class="menu">
        <button mat-button class="item" [routerLink]="'home' | translateRoute | async">{{'m.menu.home' | translate | async}}</button>
        <button mat-button class="item" [routerLink]="'blog' | translateRoute | async">{{'m.menu.blog' | translate | async}}</button>

        <ng-container *ngIf="loggedInUser.exists()">
                <button mat-button class="item" [routerLink]="'auth/profile' | translateRoute | async">{{'m.menu.profile' | translate | async}}</button>
                <button mat-button class="item" (click)="logout()">{{'m.menu.logout' | translate | async}}</button>
        </ng-container>
        <ng-container *ngIf="!loggedInUser.exists()">
                <button mat-button class="item" [routerLink]="'auth/login' | translateRoute | async">{{'m.menu.login' | translate | async}}</button>
                <button mat-button class="item" [routerLink]="'auth/signup' | translateRoute | async">{{'m.menu.signup' | translate | async}}</button>

        </ng-container>
    </div>

</div>








<!--<button mat-menu-item class="sidenav-item" [routerLink]="'/demo' | localize"><i class="fas fa-laptop-code"></i>{{'menu.demo' | translate}}</button>
<button mat-menu-item class="sidenav-item" [routerLink]="'/clients' | localize"><i class="fas fa-hands-helping"></i>{{'menu.realisations' | translate}}</button>
<button mat-menu-item class="sidenav-item" [routerLink]="'/prices' | localize"><i class="fas fa-dollar-sign"></i>{{'menu.price' | translate}}</button>
<button mat-menu-item class="sidenav-item" [routerLink]="'/blog' | localize"><i class="fas fa-blog"></i>{{'menu.blog' | translate}}</button>
<button mat-menu-item class="sidenav-item" [routerLink]="'/contact' | localize"><i class="fas fa-file-signature"></i>{{'menu.contact' | translate}}</button>

<button *ngIf="loggedInUser.exists()" mat-menu-item class="sidenav-item" [routerLink]="'/profile' | localize"><i class="fas fa-user"></i>{{'menu.profile' | translate}}</button>

<button *ngIf="!loggedInUser.exists()" mat-menu-item class="sidenav-item" [routerLink]="'/login' | localize"><i class="fas fa-sign-in-alt"></i>{{'menu.login' | translate}}</button>
-->
