.sidenav-wrp {
    display:flex;
    flex-direction: column;
    height:100vh;
    background-color:#303030;
    .close {
        margin:10px;
        fa-icon {font-size: 20px;}
    }
}

.menu {
    flex:1 1 auto;
    button {
        width:100%;
    }
}

.item.mat-button {
    text-align: left;
}
.install {
    margin-top:20px;
}
.app {
    display: inline-block;
    margin-right: 10px;
    width:25px;
    height:25px;
    background-image:url("/assets/kiilib/images/app-install-icon.svg");
    background-size: contain;
}

.bottom {
    padding:30px 10px 10px 10px;
    background-image: url("/assets/kiilib/images/sidenav-background.svg");
    background-size: cover;
    background-position: center top;
    .logo {
        width:70px;
        height:70px;
        margin:0 auto;
        background-image:url("/assets/kiilib/images/logo-sidenav.svg");
        background-size: cover;
    }
}