<div class="kii-http-error-wrp">
    <p>{{data.message}}</p>
    <!--
    <div class="kii-http-error-icon-wrapper" [ngSwitch]="data.code" [ngClass]="{'success' : data.code==200}">
        <i *ngSwitchCase='401' class="fas fa-key"></i>
        <mat-icon *ngSwitchCase='403'><i class="fas fa-hand-paper"></i></mat-icon>
        <mat-icon *ngSwitchCase='404'><i class="fas fa-wifi"></i></mat-icon>
        <mat-icon *ngSwitchCase='504'><i class="fas fa-wifi"></i></mat-icon>
        <mat-icon *ngSwitchCase='200'><i class="fas fa-check-circle"></i></mat-icon>
        <mat-icon *ngSwitchCase='201'><i class="fas fa-check-circle"></i></mat-icon>
        <mat-icon *ngSwitchCase='204'><i class="fas fa-check-circle"></i></mat-icon>
        <i *ngSwitchDefault class="fas fa-exclamation"></i>
    </div>  
    <div class="kii-http-error-message-wrapper">
        <p class="title" [ngSwitch]="data.code">
            <span *ngSwitchCase='401'>{{'kiilib.httperror.unauthorized' | translate}}</span>
            <span *ngSwitchCase='403'>{{'kiilib.httperror.forbidden' | translate}}</span>
            <span *ngSwitchCase='404'>{{'kiilib.httperror.notfound' | translate}}</span>
            <span *ngSwitchCase='504'>{{'kiilib.httperror.notfound' | translate}}</span>
            <span *ngSwitchCase='200'>{{'kiilib.httperror.success' | translate}}</span>
            <span *ngSwitchCase='201'>{{'kiilib.httperror.success' | translate}}</span>
            <span *ngSwitchCase='204'>{{'kiilib.httperror.success' | translate}}</span>
            <span *ngSwitchDefault>{{'kiilib.httperror.default' | translate}}</span>
        </p>
        <p class="subtitle">{{data.message}}</p>
    </div>-->
</div>