<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" novalidate autocomplete="on"> 
     <mat-form-field [appearance]="kiiInputAppearance">
         <mat-label>{{'a.password.l' | translate | async}}</mat-label>
         <input kiiPasswordStrength matInput formControlName="password" placeholder="{{'a.password.p' | translate | async}}" required type="password" autocomplete="current-password">
         <mat-icon matPrefix class="icon"><fa-icon [icon]="icon['password']"></fa-icon></mat-icon>
         <mat-hint>{{'a.password.h' | translate| async}}</mat-hint>
         <mat-error kiiInputError="password"></mat-error>
     </mat-form-field>
     <mat-form-field [appearance]="kiiInputAppearance">
            <mat-label>{{'a.passwordConfirm.l' | translate | async}}</mat-label>
            <input matInput formControlName="passwordConfirm" placeholder="{{'a.passwordConfirm.p' | translate | async}}" required type="password">
            <mat-icon matPrefix class="icon"><fa-icon [icon]="icon['password']"></fa-icon></mat-icon>
            <mat-hint>{{'a.passwordConfirm.h' | translate | async}}</mat-hint>
            <mat-error kiiInputError="passwordConfirm"></mat-error>             
    </mat-form-field>
 
     <div class="control-wrapper-submit">
        <button mat-flat-button type="submit" color="primary">{{'a.login.submit' | translate | async}}</button>
     </div>
</form>