<div *ngIf="!isEditing" class="preview">
    <kii-article [article]="article"></kii-article>
    <div class="edit-btn">
            <button  mat-icon-button color="primary" (click)="setEditing()"><fa-icon [icon]="icons['edit']"></fa-icon></button>
    </div>
</div>
<div *ngIf="isEditing" class="editing">
    <kii-admin-editor [content]="article.content" [uploadConfig]="uploadConfig" (onChange)="onContentChange($event)"></kii-admin-editor>
    <div class="action-btn">
            <button  mat-stroked-button type="button" color="primary" (click)="onCancel()">{{'admin.cancel' | translate | async}}</button>
            <button  mat-flat-button type="button" color="primary" (click)="onSave()">{{'admin.save' | translate | async}}</button>
    </div>
</div>
