<kii-toolbar></kii-toolbar>
<kii-admin-theme></kii-admin-theme>
<div class="admin-theme disk-wrapper">  
    <h1>{{'admin.disk.title' | translate | async}}</h1>
    <kii-spinner-overlay [show]="isDataLoading">
    <div class="disk-content-wrapper" [ngClass]="{'loading': isDataLoading}">
        <div class="disk-two-columns">
          <div class="chart-wrapper">
              <p class="chart-title">{{'admin.disk.total.title' | translate | async}}</p>
              <p class="chart-subtitle">{{'admin.disk.total.subtitle' | translate | async}}</p>
              <google-chart class="pie-total"  [dynamicResize]="true"  type="PieChart" [data]="result.chart"  [options]="chartOptions"></google-chart>
          </div>
          <div class="chart-text-wrapper">
            <div>
              <p class="disk-indicator double">{{result.totalSize | kiiFileSize}}</p>
              <p class="disk-indicator-title">{{'admin.disk.current' | translate | async}}</p>
            </div>
          </div>
    </div>
    <button *ngIf="result.removableSize>0" mat-raised-button color="primary" class="disk-clean-button" (click)="onDelete()">{{'admin.disk.optimize' | translate | async}} {{result.removableSize | kiiFileSize}}</button>
    </div>    
  </kii-spinner-overlay>
  
  
  </div>
