
.wrp {
    box-sizing: border-box;
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    .toolbar {
        display:none;
    }
    .toolbar.is-active,
    .toolbar.container
    {
        display:block;
    }

    .content {
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        min-height: 10px;
        height:100%;
        kii-email-item:not(.item) {
            flex:1;
        }
        &.block:not(.item) {
            flex-direction: row;
            &>kii-email-item.flex-1 {
                flex:1;
            }
            &>kii-email-item.flex-2 {
                flex:2;
            }
        }
        &.cell {
            &.h-start {
                align-items: flex-start;
            }
            &.h-center {
                align-items: center;
            }
            &.h-end {
                align-items: flex-end;
            }
            &.v-start {
                justify-content: flex-start !important;
            }
            &.v-center {
                justify-content: center !important;
            }
            &.v-end {
                justify-content: flex-end !important;
            }
        }
    }
}




@media only screen and (max-width: 700px) {

}