<div class="wrp" (click)="onClick($event)" [ngClass]="getClasses(item)" 
            [ngStyle]="{'background':item.getBgColor(), 
                        'color':item.getColor(), 
                        'font-size':item.getFontSize(), 
                        'font-family':item.getFont(), 
                        'font-weight':item.getFontBold()?'bold':'normal', 
                        'font-style':item.getFontItalic()?'italic':'normal', 
                        'text-decoration':item.getFontUnderline()?'underline':'none',
                        'padding-top': item.getPaddingPx('top'),
                        'padding-bottom': item.getPaddingPx('bottom'),
                        'padding-left': item.getPaddingPx('left'),
                        'padding-right': item.getPaddingPx('right')
                    }">
    <div class="toolbar" [ngClass]="getClasses(item)">
        <kii-email-toolbar [item]="item"></kii-email-toolbar>
    </div>
    <div class="content" [ngClass]="getClasses(item)">
        <ng-container *ngFor="let myItem of item.getChildren()">
                <kii-email-item [item]="myItem" [ngClass]="getClasses(myItem)"></kii-email-item>
        </ng-container>
        <ng-container *ngIf="item.isItem()">
            <kii-email-widget [widget]="item.widget" (onChange)="onWidgetChanges($event)" [ngClass]="getClasses(item)"></kii-email-widget>
        </ng-container>
    </div>
</div>

