.wrapper {
    padding-top:60px;
    padding-bottom:20px;
    display:flex;
    justify-content: center;
    box-sizing: border-box;
    min-height: 100vh;

}

.button-container {
    min-width: 280px;
    max-width: 800px;
    display:inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button-wrapper {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
        margin-top:3px;
    }
}


button {
    width:200px;
    height:200px;
    opacity:0.8;
    transition: all 0.2s ease-in-out;
}
button:hover {
    opacity:1;
}
button fa-icon {
    font-size:120px;
}

@media only screen and (max-width: 700px) {
    button {
        width:140px;
        height:140px;
    }
    button fa-icon {
        font-size:80px;
    }
}