<div class="wrapper admin-theme">
        <div class="button-container">
          <div *ngIf="loggedInUser.hasRole('kubiiks')" class="button-wrapper">
            <button mat-button color="primary" [routerLink]="'/admin/settings' | translateRoute | async"><fa-icon [icon]="icons['settings']"></fa-icon></button>
            <p>{{'admin.menu.settings' | translate | async}}</p>
          </div>  
          <div *ngIf="loggedInUser.hasRole('users') || loggedInUser.hasRole('admin')" class="button-wrapper">
              <button mat-button color="primary" [routerLink]="'/admin/users' | translateRoute | async"><fa-icon [icon]="icons['users']"></fa-icon></button>
              <p>{{'admin.menu.users' | translate | async}}</p>
          </div>       
          <div *ngIf="loggedInUser.hasRole('blog') || loggedInUser.hasRole('admin')" class="button-wrapper">
                <button mat-button color="primary" [routerLink]="'/admin/content' | translateRoute | async"><fa-icon [icon]="icons['content']"></fa-icon></button>
                <p>{{'admin.menu.content' | translate | async}}</p>
          </div>    
           
          <div *ngIf="loggedInUser.hasRole('email') || loggedInUser.hasRole('admin')" class="button-wrapper">
                <button mat-button color="primary" [routerLink]="'/admin/emails' | translateRoute | async"><fa-icon [icon]="icons['emails']"></fa-icon></button>
                <p>{{'admin.menu.emails' | translate | async}}</p>
          </div> 
          <div *ngIf="loggedInUser.hasRole('chat') || loggedInUser.hasRole('admin')" class="button-wrapper">
              <button mat-button color="primary" [routerLink]="'/admin/chats' | translateRoute | async"><fa-icon [icon]="icons['chats']"></fa-icon></button>
              <p>{{'admin.menu.chats' | translate | async}}</p>
          </div> 
          <div *ngIf="loggedInUser.hasRole('content') || loggedInUser.hasRole('admin')" class="button-wrapper">
              <button mat-button color="primary" [routerLink]="'/admin/popup' | translateRoute | async"><fa-icon [icon]="icons['popup']"></fa-icon></button>
              <p>{{'admin.menu.popup' | translate | async}}</p>
          </div> 
        <div *ngIf="loggedInUser.hasRole('admin')" class="button-wrapper">
            <button mat-button color="primary" [routerLink]="'/admin/disk' | translateRoute | async"><fa-icon [icon]="icons['disk']"></fa-icon></button>
            <p>{{'admin.menu.disk' | translate | async}}</p>
        </div> 
          <div *ngIf="loggedInUser.hasRole('stats') || loggedInUser.hasRole('admin')" class="button-wrapper">
              <button mat-button color="primary" [routerLink]="'/admin/stats' | translateRoute | async"><fa-icon [icon]="icons['stats']"></fa-icon></button>
              <p>{{'admin.menu.stats' | translate | async}}</p>
          </div>  
          <div class="button-wrapper">
              <button mat-button color="primary"><i class="fas fa-barcode"></i></button>
              <p>Stock</p>
          </div>  
          <div class="button-wrapper">
              <button mat-button color="primary"><i class="fas fa-hand-holding-usd"></i></button>
              <p>Ventes</p>
          </div>      
        </div>
      </div>  
<button mat-button (click)="goBack()">Back</button>
