mat-toolbar {
    z-index: 100;
    position:fixed;
    top:0px;
    left:0px;
    a {
        border-radius: 50vh;
    }
    background:transparent;
}
.wrp {
    flex:1 1 auto;
    display:flex;
    align-items: center;
}
.icons {
    height:100%;
}

.avatar {
    width:20px;
    height:20px;
    border:1px solid white;
}
fa-icon {
    font-size: 18px;
}

.kii-main-btn {
/*    position:absolute;
    top:10px;
    left:5px;
    z-index: 11;*/
    background-image: url("/assets/kiilib/images/menu.svg");
    background-size: cover;
    background-position: center center;
    transition: all 0.2s ease-in-out;
}