mat-toolbar {
    z-index: 100;
    position:fixed;
    top:0px;
    left:0px;
    a {
        border-radius: 50vh;
    }
    background:transparent;
}
.wrp {
    border:1px solid yellow;
    flex:1 1 auto;
    display:flex;
    align-items: center;
}
.icons {
    height:100%;
    border:1px solid red;
}

.avatar {
    width:20px;
    height:20px;
    border:1px solid white;
}
fa-icon {
    font-size: 18px;
}