.wrp {
    padding:5px;
    display: flex;
    flex-direction: row;
    align-items: cemter;
    fa-icon {
        font-size: 20px;
    }
}
.menu-block-type {
    &:hover {
        cursor:pointer;
    }
    height:40px;
    width:40px;
    box-sizing: border-box;
    margin:3px;
    padding:3px;
    display:flex;
    align-items: center;
    max-width: 100%;
    .first,.second,.third {
        height:15px;
        width:100%;
        border:1px solid;
        flex:1;
    }
    &.simple {
        .second,.third {
            display:none;
        }
    }
    &.double {
        .third {
            display:none;
        }
    }
    &.double_left {
        .third {
            display:none;
        }
        .second {
            flex:2;
        }
    }
    &.double_right {
        .third {
            display:none;
        }
        .first {
            flex:2;
        }
    }
}

@media only screen and (max-width: 700px) {

}