//WARNING: DO NOT LIMIT HEIGHT AS IT WILL NOT WORK FOR SCROLL RESTAURATION !

.kii-app-wrp {
    min-width: 320px;
    position: relative;
    .chat-btn {
        position: fixed;
        right:30px;
        bottom:30px;
        z-index: 900;
        font-size: 22px;
        background-image: url("/assets/kiilib/images/chat-icon.svg");
        background-size: cover;
        transition: all 0.3s ease-in-out;
    }
}
