  <canvas class="shadow" #shadowCanvas></canvas>
  <div class="text">
    <mat-label *ngIf="config.label" class="label">{{config.label | translate | async}}</mat-label>
    <mat-hint *ngIf="config.hint" class="hint">{{config.hint | translate | async}}</mat-hint>
  </div>
  <div class="wrp-main" [ngClass]="getButtonsPosition()">
    <div class="wrp-img" [style.maxWidth]="config.maxWidth">
        <input class="shadow" type="file" #fileInput (change)="loadImage($event)" [accept]="config.imageFormat">  
        <img  alt="picture" #shadowImg class="shadow" [src]="getImage()" crossOrigin="anonymous">
        <img *ngIf="!isSVG()" alt="picture-nonsvg" #realImg class="upload-view" [src]="base64" crossOrigin="anonymous" >
        <img *ngIf="isSVG()" alt="picture-svg" class="upload-view" [src]="svgImage" crossOrigin="anonymous" >

        <mat-progress-bar mode="determinate" [value]="progress" [ngClass]="{'is-visible' : isLoading}"></mat-progress-bar>
    </div>
    <div class="icons">
        <button mat-icon-button type="button" (click)="fileInput.click()"><fa-icon [icon]="icons['photo']"></fa-icon></button>
        <button mat-icon-button type="button" (click)="removeImage()"><fa-icon [icon]="icons['reset']"></fa-icon></button>
        <button mat-icon-button type="button" (click)="rotateImage()" [disabled]="isSVG()"><fa-icon [icon]="icons['rotate']"></fa-icon></button>
    </div>
  </div>
  <button mat-flat-button type="button" class="upld" color="primary" [disabled]="!isUploadable || isLoading" (click)="upload()"><fa-icon [icon]="icons['upload']"></fa-icon>Upload</button>
