<canvas class="shadow" #shadowCanvas></canvas>
<div *ngIf="label!=null || hint!=null" class="kii-image-upload-text-wrapper">
  <mat-label class="label">{{label | translate}}</mat-label>
  <mat-hint class="hint">{{hint | translate}}</mat-hint>
</div>

<div class="kii-image-upload-wrapper-all">
  <mat-progress-bar mode="determinate" [value]="progress" [ngClass]="{'is-visible' : isLoading}"></mat-progress-bar>
  <div class="kii-image-upload-wrapper">
        <input class="shadow" type="file" #fileInput (change)="loadImage($event)" [accept]="imageFormat">  

        <div class="kii-image-upload-image-wrapper" [ngClass]="{'is-uploaded' : isUploaded}">
          <img  alt="picture" #realImg class="kii-image-upload-view" [src]="base64" crossOrigin="anonymous">
        </div>
        <div class="kii-image-upload-icons">
          <button mat-icon-button type="button" (click)="fileInput.click()"><i class="fas fa-camera"></i></button>
          <button mat-icon-button type="button" (click)="removeImage()"><i class="fas fa-trash"></i></button>
          <button mat-icon-button type="button" (click)="rotateImage()" [disabled]="!isUploadable || isSVG"><i class="fas fa-redo-alt"></i></button>
        </div>
  </div>
  <button mat-flat-button type="button" color="primary" [disabled]="!isUploadable || isLoading" style="width:140px" (click)="upload()"><i class="fas fa-upload"></i></button>
</div>

