<div class="kii-email-editor-wrp" [ngStyle]="{'max-width':getContainerWidth()}">
   <kii-email-item #itemComp [item]="item"></kii-email-item>
   <!--<kii-email-toolbar></kii-email-toolbar>
   <div class="kii-email" [ngStyle]="{'background':data.bgColor, 'color':data.txtColor}">
      <ng-container *ngFor="let block of structure.blocks">
         <kii-email-block [block]="block"></kii-email-block>
      </ng-container>
      <p>Text of the body to see</p>
   </div>-->
</div>
<button mat-button color="primary" (click)="outputData()">Get DATA</button>

