.kii-email-editor-wrp {
    min-height: 100px;
    box-sizing: border-box;
    .title-wrapper {
        display:flex;
        align-items: center;
        justify-content: center;
        padding:5px;
        fa-icon {
            font-size: 18px;
            margin-right: 10px;
        }
        .title-input {
            box-sizing: border-box;
            border:1px solid;
            border-radius: 5px;
            background:white;
            width:100%;
            padding:8px;
        }
    }

    .kii-email {
        width:100%;
        min-height: 100px;
    }
    .block {
        display:flex;
        flex-direction: row;
        min-height: 30px;
        .cell {
            min-height: 30px;
            flex:1;
            display:flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }
        .cell.h-center {
            align-items: center;
        }
        .cell.h-right {
            align-items: flex-end;
        }
        .cell.v-center {
            justify-content: center;
        }
        .cell.v-bottom {
            justify-content: flex-end;
        }
    }
    .block.double_2080 {
        .cell:nth-child(2) {
            flex:3;
        }
    }
    .block.double_3070 {
        .cell:nth-child(2) {
            flex:2;
        }
    }
    .block.double_8020 {
        .cell:nth-child(1) {
            flex:3;
        }
    }
    .block.double_7030 {
        .cell:nth-child(1) {
            flex:2;
        }
    }    
}
