<kii-toolbar></kii-toolbar>
<kii-header [data]="{title:'a.alerts.t',subtitle:loggedInUser.getFullName(),isShort:true}"></kii-header>
<kii-spinner-overlay [show]="isDataLoading">
        <div class="wrapper">
                  <table mat-table  [dataSource]="dataSource" matSort multiTemplateDataRows class="table" [trackBy]="trackById" matSortActive="id" matSortDirection="desc" matSortStart="desc">
                      <ng-container matColumnDef="id">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'id' | translate | async}}</th>
                          <td mat-cell *matCellDef="let element" (click)="rowClick(element)">{{element.id}}</td>
                      </ng-container>
                      <ng-container matColumnDef="message">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'a.alert.t' | translate | async}}</th>
                          <td mat-cell *matCellDef="let element"  (click)="rowClick(element)">
                              <p class="title">{{element.title}}</p>
                              <small class="description">{{element.message}}</small>
                            </td>
                      </ng-container>   
                      <ng-container matColumnDef="createdAt">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'a.created' | translate | async}}</th>
                          <td mat-cell *matCellDef="let element" (click)="rowClick(element)" class="txt-xs">{{{date:element.createdAt,lang:currentLang} | kiiNiceDateFormat | async}}</td>
                      </ng-container>         
                      <ng-container matColumnDef="isRead">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                          <td mat-cell *matCellDef="let element">
                              <button mat-icon-button (click)="markAsRead(element)"><fa-icon [icon]="icons['eye']"></fa-icon></button>
                              <button mat-icon-button (click)="onDeleteAlert(element)"><fa-icon [icon]="icons['trash']"></fa-icon></button>
                          </td>
                      </ng-container>                        
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let element; columns: displayedColumns;" 
                          class="element-row"
                          [class.expanded-row] = "expandedElement === element"
                          (click)="expandedElement = expandedElement === element ? null : element;" [ngClass]="{'is-read' : element.isRead}"></tr>
                  </table>  
                  <mat-paginator [pageSizeOptions]="[10, 20, 50]"></mat-paginator>
        </div>  
    </kii-spinner-overlay>


<kii-footer></kii-footer>