
.wrapper {
    min-height: 80vh;
}

.title {
    margin-top:5px;
    margin-bottom:2px;
}
.description {
    opacity:0.6;
}

//Table part
.table {
    width:100%;
    padding-right: 15px;
    padding-left: 15px;
    background:transparent !important;
}
mat-paginator {
    background:transparent !important;
}

tr.detail-row {
    height:0;
}

tr.mat-row.is-read {
    opacity:0.5;
}

tr.element-row:not(.expanded-row):hover {
    cursor:pointer;
}
.element-row td {
    //border-bottom-width:0;
    padding-left:4px;
    padding-right:4px;
}
.element-detail {
    overflow: hidden;
    display: flex;
}
.element-detail-wrapper {
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
}

.mat-column-isRead {
    width:70px;
}

.mat-column-id {
    display:none;
}
.mat-column-createdAt {
    display:none;
}
@media only screen and (min-width: 700px) {
    .mat-column-createdAt {
        display:table-cell;
    }
}
