.kii-horizontal-scroller-container {
    width:100%;
    position: relative;
    .content {
        width:100%;
        display:flex;
        justify-content: center;
        overflow: hidden;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        &.is-scroll {
            justify-content: flex-start;
        }
    }
    .left,.right {
        width:40px;
        height:50%;
        min-height: 80px;
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        opacity:0;
        transition: opacity 0.5s ease-in-out;
        &.is-scroll {
            &:hover {
                cursor: pointer;
            }
            opacity: 1;
        }
    }
    .left {
        left:0;
        border-radius: 0 50% 50% 0;
    }
    .right {
        right:0;
        border-radius: 50% 0 0 50%;
    }

    fa-icon {
        font-size: 26px;
    }
}