<kii-spinner-overlay [show]="isFormLoading">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" novalidate> 
        <mat-form-field [appearance]="kiiInputAppearance" style="width:100%">
            <mat-label>{{'admin.notification.title.l' | translate | async}}</mat-label>
            <input matInput formControlName="title" placeholder="{{'admin.notification.title.p' | translate | async}}" required type="text" [kiiInputDefaultValue]="notification.title">
            <mat-hint>{{'admin.notification.title.h' | translate | async}}</mat-hint>
            <mat-error kiiInputError="title"></mat-error>            
        </mat-form-field>
        <mat-form-field [appearance]="kiiInputAppearance" style="width:100%">
            <mat-label>{{'admin.notification.body.l' | translate | async}}</mat-label>
            <textarea matInput formControlName="body" placeholder="{{'admin.notification.body.p' | translate | async}}" required type="text" [kiiInputDefaultValue]="notification.body"></textarea>
            <mat-hint>{{'admin.notification.body.h' | translate | async}}</mat-hint>
            <mat-error kiiInputError="body"></mat-error>            
        </mat-form-field>
        <div class="control-wrapper" *ngIf="myForm.touched">
            <button mat-button type="reset" color="primary">{{'admin.cancel' | translate | async}}</button>
            <button mat-flat-button type="submit" color="primary">{{'admin.save' | translate | async}}</button>
        </div>
    </form>
</kii-spinner-overlay>

