.article-created {
    border-top:1px inset;
    padding-top:10px;
    width:100%;
    display:flex;
    justify-content: flex-end;
    font-size: 14px;
    font-style: italic;
    opacity: 0.6;
    fa-icon {
        margin-left: 10px;
    }
}
.angular-editor-textarea {
    //This is required in order to keep margins of inner elements in account
    padding:1px;
}

