<a mat-button class="kii-kat-button" title="test" [routerLink]="'home' | translateRoute | async">
    <p>home</p>
    <div class="highlight-menu"></div>
</a>
<a mat-button class="kii-kat-button" title="test" [routerLink]="'blog' | translateRoute | async">
  <p>blog</p>
  <div class="highlight-menu"></div>
</a>
<a mat-button class="kii-kat-button" title="test" routerLink="/contact">
  <p>contact</p>
  <div class="highlight-menu"></div>
</a>
<a mat-button class="kii-kat-button" title="test" [routerLink]="'auth/login' | translateRoute | async">
    <p>login</p>
    <div class="highlight-menu"></div>
</a>
<a mat-button class="kii-kat-button" title="test" [routerLink]="'auth/signup' | translateRoute | async">
    <p>signup</p>
    <div class="highlight-menu"></div>
</a>
