<a mat-button class="item" [ngClass]="{'is-active' : page=='home'}" title="{{'m.menu.home' | translate | async}}"  [routerLink]="'home' | translateRoute | async">
    <small>{{'m.menu.home' | translate | async}}</small>
    <div class="under"></div>
</a>
<a mat-button class="item" [ngClass]="{'is-active' : page=='blog'}" title="{{'m.menu.blog' | translate | async}}" [routerLink]="'blog' | translateRoute | async">
    <small>{{'m.menu.blog' | translate | async}}</small>
    <div class="under"></div>
</a>
<a mat-button class="item" [ngClass]="{'is-active' : page=='contact'}" title="{{'m.menu.contact' | translate | async}}" [routerLink]="'contact' | translateRoute | async">
    <small>{{'m.menu.contact' | translate | async}}</small>
    <div class="under"></div>
</a>
