<a mat-button class="kii-kat-button" title="test" routerLink="/home">
    <p>home</p>
    <div class="highlight-menu"></div>
</a>
<a mat-button class="kii-kat-button" title="test" routerLink="/blog">
  <p>blog</p>
  <div class="highlight-menu"></div>
</a>
<a mat-button class="kii-kat-button" title="test" routerLink="/contact">
  <p>contact</p>
  <div class="highlight-menu"></div>
</a>
<a mat-button class="kii-kat-button" title="test" routerLink="/auth/login">
    <p>login</p>
    <div class="highlight-menu"></div>
</a>
<a mat-button class="kii-kat-button" title="test" routerLink="/auth/signup">
    <p>signup</p>
    <div class="highlight-menu"></div>
</a>
