<div class="reset-wrp">
    <div class="content">
    <kii-spinner-overlay [show]="isLoading">
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar class="logo"></div>
                <mat-card-title>{{'a.establish.t' | translate | async}}</mat-card-title>
                <mat-card-subtitle>{{'a.establish.s' | translate | async}}</mat-card-subtitle>
            </mat-card-header>
            <kii-establish-password-form  (kiiOnSubmit)="onSubmit($event)"></kii-establish-password-form>
        </mat-card>
    </kii-spinner-overlay>
    </div>

</div>
