<kii-auth-theme></kii-auth-theme>
<div class="reset-wrp">
  <div class="content">
    <kii-spinner-overlay [show]="isLoading">
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar class="logo"></div>
                <mat-card-title>{{'a.reset.t' | translate | async}}</mat-card-title>
                <mat-card-subtitle>{{'a.reset.s' | translate | async}}</mat-card-subtitle>
            </mat-card-header>
            <kii-reset-password-form  (kiiOnSubmit)="onSubmit($event)"></kii-reset-password-form>
        </mat-card>
    </kii-spinner-overlay>
  </div>
</div>
