.kii-reset-password-content {
    min-height: 60vh;
    padding-top:20vh;
    padding-bottom:10px;
}
h1 {
    text-align: center;
    font-size: 20px;
    line-height: 20px;
}
kii-reset-password-form {
    max-width: 400px;
    width:100%;
}
