<kii-toolbar></kii-toolbar>
<kii-admin-theme></kii-admin-theme>
<div class="admin-theme settings-wrp">  
   <h1>Settings</h1>

   <h2>App</h2>
   <p class="image-title">Application favicon</p>
   <kii-image-upload [config]="configFavicon" [image]="getImage('favicon')"></kii-image-upload>
   <p class="image-title">Application icon 192x192</p>
   <kii-image-upload [config]="configIcon192" [image]="getImage('appicon192')"></kii-image-upload>
   <p class="image-title">Application icon 512x512</p>
   <kii-image-upload [config]="configIcon512" [image]="getImage('appicon512')"></kii-image-upload>
   <p class="image-title">Main logo used in sharing when no image, on auth cards and on notifications 300x300</p>
   <kii-image-upload [config]="configLogo" [image]="getImage('url_image')"></kii-image-upload>


   <h2>SEO</h2>
   <kii-seo-form (kiiOnSubmit)="saveSeo($event)"></kii-seo-form>
   <!--<kii-setting-item [setting]="settings['description']" hint="Site description"></kii-setting-item>
   <kii-image-upload [config]="configUrlImage" [image]="getImage('url_image')"></kii-image-upload>-->
   <kii-setting-item [setting]="settings['sitename']" hint="Site name"></kii-setting-item>
   <kii-setting-item [setting]="settings['telephone']" hint="Company phone"></kii-setting-item>
   <kii-setting-item [setting]="settings['email']" hint="Company email"></kii-setting-item>
   <kii-setting-item [setting]="settings['addressStreet']" hint="Address street"></kii-setting-item>
   <kii-setting-item [setting]="settings['addressPostal']" hint="Address postal code"></kii-setting-item>
   <kii-setting-item [setting]="settings['addressLocality']" hint="Address locality"></kii-setting-item>
   <kii-setting-item [setting]="settings['addressCountry']" hint="Address country"></kii-setting-item>
   <kii-setting-item [setting]="settings['fb_app_id']" hint="Facebook app id"></kii-setting-item>

  <h2>Social</h2>
  <kii-setting-item [setting]="settings['facebook']" hint="Facebook link"></kii-setting-item>
  <kii-setting-item [setting]="settings['google']" hint="Google link"></kii-setting-item>
  <kii-setting-item [setting]="settings['linkedin']" hint="LinkedIn link"></kii-setting-item>
  <kii-setting-item [setting]="settings['instagram']" hint="Instagram link"></kii-setting-item>
  <kii-setting-item [setting]="settings['twitter']" hint="Twitter link"></kii-setting-item>
  <kii-setting-item [setting]="settings['youtube']" hint="Youtube link"></kii-setting-item>

  <h2>Contact</h2>
  <kii-setting-item [setting]="settings['zoom']" hint="Gmaps zoom"></kii-setting-item>
  <kii-setting-item [setting]="settings['latitude']" hint="Latitude"></kii-setting-item>
  <kii-setting-item [setting]="settings['longitude']" hint="Longitude"></kii-setting-item>

</div>
