.settings-wrp {
    padding:20px;
    padding-top:60px;
    min-height: 80vh;
    h1 {
        border-bottom: 1px solid;
    }
    .image-title {
        margin-top: 20px;
        font-size: 12px;
        border-bottom: 1px solid;
    }
}

