:host {
    width:100%;
    box-sizing: border-box;
    min-height: 50px;

}
.wrp {
    position:relative;
    .content {
        box-sizing: border-box;
        width:100%;
        min-height: 50px;
    }

    .cell-toolbar {
        position: absolute;
        left:0;
        top:-40px;
        transition: opacity 0.8s ease-in-out;
        display:none;
        flex-direction: row;
    }
    .cell-toolbar.is-active {
        display:flex;
    }
}



@media only screen and (max-width: 700px) {

}