<div class="wrp">
<div class="content" (click)="onClick($event)" [ngClass]="{'is-active': cell.isActive==true}" [ngStyle]="{'background':background, 'color':color}">
        <div class="container" *ngFor="let item of cell.items">
                <kii-email-item [item]="item" [isCellActive]="cell.isActive"></kii-email-item>
        </div>
</div>

<div class="cell-toolbar" [ngClass]="{'is-active': cell.isActive==true}">
        <kii-email-common-toolbar [context]="context"></kii-email-common-toolbar>
</div>
</div>
