
<div class="wrp">
    <input #bgColorContainer type="color" (change)="onBgColor(0,$event)">
    <input #colorContainer type="color" (change)="onTxtColor(0,$event)">
    <input #bgColor type="color" (change)="onBgColor(elemId,$event)">
    <input #color type="color" (change)="onTxtColor(elemId,$event)">
    <div class="row">
    <button mat-icon-button [matMenuTriggerFor]="menuContainer"><fa-icon [icon]="icons['menu']"></fa-icon></button>
    <mat-menu #menuContainer="matMenu">
        <div style="padding:10px;"  class="kii-email-toolbar-menu">
                <div style="border-bottom:1px dashed;margin-bottom:10px;"><small>Add block</small></div>
                <button mat-button *ngFor="let type of service.getAllBlockTypes()"  class="block-type" (click)="onAddBlock(type)">
                            <div class="block-type-container" [ngClass]="type">
                                <div class="child first"></div>
                                <div class="child second"></div>
                                <div class="child third"></div>
                                <div class="child fourth"></div>
                            </div>
                </button>
                <div style="border-bottom:1px dashed;margin-bottom:10px;"><small>Background</small></div>
                <button mat-icon-button><fa-icon [icon]="icons['bgColor']" (click)="bgColorContainer.click()"></fa-icon></button>
                <div style="border-bottom:1px dashed;margin-bottom:10px;"><small>Font</small></div>
                <button mat-icon-button><fa-icon [icon]="icons['color']" (click)="colorContainer.click()"></fa-icon></button>
                <button mat-icon-button (click)="setFontStyle(0,'bold')"><fa-icon [icon]="icons['bold']"  [ngClass]="{'is-icon-active':service.isBold(0)}"></fa-icon></button>
                <button mat-icon-button (click)="setFontStyle(0,'italic')"><fa-icon [icon]="icons['italic']" [ngClass]="{'is-icon-active':service.isItalic(0)}"></fa-icon></button>
                <button mat-icon-button (click)="setFontStyle(0,'underline')"><fa-icon [icon]="icons['underline']" [ngClass]="{'is-icon-active':service.isUnderline(0)}" ></fa-icon></button>
                <button mat-icon-button [matMenuTriggerFor]="menuFontSize" (click)="onClickStop($event)" class="icon">
                        <svg width="20" height="20" version="1.1" viewBox="0 0 13.229 13.229" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                            <g transform="translate(0 -283.77)" stroke-width="0">
                            <rect x="2.7929" y="291.53" width="1.2027" height="3.4664" opacity=".609" style="paint-order:stroke markers fill"/>
                            <rect transform="rotate(269.73)" x="-291.55" y=".21978" width="1.2027" height="3.6081" opacity=".609" style="paint-order:stroke markers fill"/>
                            <g transform="matrix(2 0 0 2 -7.1976 -296.89)">
                            <rect x="7.116" y="292.38" width="1.2027" height="3.6081" style="paint-order:stroke markers fill"/>
                            <rect transform="rotate(269.73)" x="-292.56" y="4.5382" width="1.2027" height="3.6081" style="paint-order:stroke markers fill"/>
                            </g>
                            </g>
                        </svg>
                </button>
                <mat-menu #menuFontSize="matMenu">
                        <button *ngFor="let size of service.getAllFontSizes()" mat-menu-item  class="item" (click)="onSetFontSize(0,size)"><span [ngStyle]="{'font-size':size}">{{size}}</span></button>
                </mat-menu> 
                <button mat-icon-button  [matMenuTriggerFor]="menuFontFamily" (click)="onClickStop($event)">
                        <fa-icon [icon]="icons['font']"></fa-icon>
                </button>
                <mat-menu #menuFontFamily="matMenu">
                                <button *ngFor="let font of service.getAllFonts()" mat-menu-item  class="item" (click)="onSetFont(0,font)"><div [ngStyle]="{'font-family':font}">{{font}}</div></button>
                </mat-menu>
        </div>
    </mat-menu>
    <button mat-icon-button (click)="onSaveData()" class="save-button"><fa-icon [icon]="icons['save']"></fa-icon></button>
    <button mat-icon-button (click)="onCopyData()" class="save-button"><fa-icon [icon]="icons['copy']"></fa-icon></button>
    <button *ngIf="canPaste()" mat-icon-button (click)="onPasteData()" class="save-button"><fa-icon [icon]="icons['paste']"></fa-icon></button>

    </div>
    <!--ROW for SELECTED TYPE-->
    <div class="row extra">
        <ng-container *ngIf="elemId!=0">
        <button mat-icon-button [matMenuTriggerFor]="menuItem"><fa-icon [icon]="icons['menu']"></fa-icon></button>
        <mat-menu #menuItem="matMenu">
            <div style="padding:10px;"  class="kii-email-toolbar-menu">
                <ng-container *ngIf="isCell()">
                    <div style="border-bottom:1px dashed;margin-bottom:10px;"><small>Add widget</small></div>
                    <button mat-button *ngFor="let type of service.getAllWidgetTypes()"  class="widget-icon" (click)="onAddWidget(elemId,type)">
                            <fa-icon [icon]="getWidgetIcon(type)"></fa-icon>
                    </button>
                </ng-container>    
                <div style="border-bottom:1px dashed;margin-bottom:10px;"><small>Background</small></div>
                <button mat-icon-button><fa-icon [icon]="icons['bgColor']" (click)="bgColor.click()"></fa-icon></button>
                    <div style="border-bottom:1px dashed;margin-bottom:10px;"><small>Font</small></div>
                    <button mat-icon-button><fa-icon [icon]="icons['color']" (click)="color.click()"></fa-icon></button>
                    <button mat-icon-button (click)="setFontStyle(elemId,'bold')"><fa-icon [icon]="icons['bold']"  [ngClass]="{'is-icon-active':service.isBold(elemId)}"></fa-icon></button>
                    <button mat-icon-button (click)="setFontStyle(elemId,'italic')"><fa-icon [icon]="icons['italic']" [ngClass]="{'is-icon-active':service.isItalic(elemId)}"></fa-icon></button>
                    <button mat-icon-button (click)="setFontStyle(elemId,'underline')"><fa-icon [icon]="icons['underline']" [ngClass]="{'is-icon-active':service.isUnderline(elemId)}" ></fa-icon></button>
                    <button mat-icon-button [matMenuTriggerFor]="menuFontSize" (click)="onClickStop($event)" class="icon">
                            <svg width="20" height="20" version="1.1" viewBox="0 0 13.229 13.229" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                                <g transform="translate(0 -283.77)" stroke-width="0">
                                <rect x="2.7929" y="291.53" width="1.2027" height="3.4664" opacity=".609" style="paint-order:stroke markers fill"/>
                                <rect transform="rotate(269.73)" x="-291.55" y=".21978" width="1.2027" height="3.6081" opacity=".609" style="paint-order:stroke markers fill"/>
                                <g transform="matrix(2 0 0 2 -7.1976 -296.89)">
                                <rect x="7.116" y="292.38" width="1.2027" height="3.6081" style="paint-order:stroke markers fill"/>
                                <rect transform="rotate(269.73)" x="-292.56" y="4.5382" width="1.2027" height="3.6081" style="paint-order:stroke markers fill"/>
                                </g>
                                </g>
                            </svg>
                    </button>
                    <mat-menu #menuFontSize="matMenu">
                            <button *ngFor="let size of service.getAllFontSizes()" mat-menu-item  class="item" (click)="onSetFontSize(elemId,size)"><span [ngStyle]="{'font-size':size}">{{size}}</span></button>
                    </mat-menu> 
                    <button mat-icon-button  [matMenuTriggerFor]="menuFontFamily" (click)="onClickStop($event)">
                            <fa-icon [icon]="icons['font']"></fa-icon>
                    </button>
                    <mat-menu #menuFontFamily="matMenu">
                                    <button *ngFor="let font of service.getAllFonts()" mat-menu-item  class="item" (click)="onSetFont(elemId,font)"><div [ngStyle]="{'font-family':font}">{{font}}</div></button>
                    </mat-menu>
                    <ng-container *ngIf="isCell()">
                    <div style="border-bottom:1px dashed"><small>Alignment horizontal</small></div>
                    <button mat-icon-button class="icon" [ngClass]="{'is-icon-active':service.getAlignHorizontal(elemId) == 'left'}" (click)="onHorizontalAlign(elemId,'left')">
                        <svg width="25" height="25" version="1.1" viewBox="0 0 13.229 13.229" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                            <g transform="translate(0 -283.77)" stroke-width="0">
                            <rect x="1.5902" y="285.73" width=".65729" height="9.2715" style="paint-order:stroke markers fill"/>
                            <rect x="2.2516" y="286.72" width="4.9804" height="7.3108" opacity=".495" style="paint-order:stroke markers fill"/>
                            <rect x="10.204" y="285.73" width=".65729" height="9.2715" style="paint-order:stroke markers fill"/>
                            <rect transform="rotate(90)" x="285.73" y="-10.862" width=".65729" height="9.2715" style="paint-order:stroke markers fill"/>
                            <rect transform="rotate(90)" x="294.34" y="-10.862" width=".65729" height="9.2715" style="paint-order:stroke markers fill"/>
                            </g>
                            </svg>
                    </button>
                    <button mat-icon-button class="icon" [ngClass]="{'is-icon-active':service.getAlignHorizontal(elemId) == 'center'}" (click)="onHorizontalAlign(elemId,'center')">
                            <svg width="25" height="25" version="1.1" viewBox="0 0 13.229 13.229" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                                <g transform="translate(0 -283.77)" stroke-width="0">
                                        <rect x="1.5902" y="285.73" width=".65729" height="9.2715" style="paint-order:stroke markers fill"/>
                                        <rect x="3.6691" y="286.72" width="4.9804" height="7.3108" opacity=".495" style="paint-order:stroke markers fill"/>
                                        <rect x="10.204" y="285.73" width=".65729" height="9.2715" style="paint-order:stroke markers fill"/>
                                        <rect transform="rotate(90)" x="285.73" y="-10.862" width=".65729" height="9.2715" style="paint-order:stroke markers fill"/>
                                        <rect transform="rotate(90)" x="294.34" y="-10.862" width=".65729" height="9.2715" style="paint-order:stroke markers fill"/>
                                </g>
                            </svg>
                    </button>
                    <button mat-icon-button class="icon right" [ngClass]="{'is-icon-active':service.getAlignHorizontal(elemId) == 'right'}" (click)="onHorizontalAlign(elemId,'right')">
                            <svg width="25" height="25" version="1.1" viewBox="0 0 13.229 13.229" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                                <g transform="translate(0 -283.77)" stroke-width="0">
                                <rect x="1.5902" y="285.73" width=".65729" height="9.2715" style="paint-order:stroke markers fill"/>
                                <rect x="2.2516" y="286.72" width="4.9804" height="7.3108" opacity=".495" style="paint-order:stroke markers fill"/>
                                <rect x="10.204" y="285.73" width=".65729" height="9.2715" style="paint-order:stroke markers fill"/>
                                <rect transform="rotate(90)" x="285.73" y="-10.862" width=".65729" height="9.2715" style="paint-order:stroke markers fill"/>
                                <rect transform="rotate(90)" x="294.34" y="-10.862" width=".65729" height="9.2715" style="paint-order:stroke markers fill"/>
                                </g>
                                </svg>
                    </button>
                    <div style="border-bottom:1px dashed"><small>Alignment vertical</small></div>
                    <button mat-icon-button class="icon top" [ngClass]="{'is-icon-active':service.getAlignVertical(elemId) == 'top'}" (click)="onVerticalAlign(elemId,'top')">
                        <svg width="25" height="25" version="1.1" viewBox="0 0 13.229 13.229" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                            <g transform="translate(0 -283.77)" stroke-width="0">
                            <rect x="1.5902" y="285.73" width=".65729" height="9.2715" style="paint-order:stroke markers fill"/>
                            <rect x="2.2516" y="286.72" width="4.9804" height="7.3108" opacity=".495" style="paint-order:stroke markers fill"/>
                            <rect x="10.204" y="285.73" width=".65729" height="9.2715" style="paint-order:stroke markers fill"/>
                            <rect transform="rotate(90)" x="285.73" y="-10.862" width=".65729" height="9.2715" style="paint-order:stroke markers fill"/>
                            <rect transform="rotate(90)" x="294.34" y="-10.862" width=".65729" height="9.2715" style="paint-order:stroke markers fill"/>
                            </g>
                            </svg>
                    </button>
                    <button mat-icon-button class="icon top" [ngClass]="{'is-icon-active':service.getAlignVertical(elemId) == 'middle'}" (click)="onVerticalAlign(elemId,'middle')">
                            <svg width="25" height="25" version="1.1" viewBox="0 0 13.229 13.229" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                                <g transform="translate(0 -283.77)" stroke-width="0">
                                        <rect x="1.5902" y="285.73" width=".65729" height="9.2715" style="paint-order:stroke markers fill"/>
                                        <rect x="3.6691" y="286.72" width="4.9804" height="7.3108" opacity=".495" style="paint-order:stroke markers fill"/>
                                        <rect x="10.204" y="285.73" width=".65729" height="9.2715" style="paint-order:stroke markers fill"/>
                                        <rect transform="rotate(90)" x="285.73" y="-10.862" width=".65729" height="9.2715" style="paint-order:stroke markers fill"/>
                                        <rect transform="rotate(90)" x="294.34" y="-10.862" width=".65729" height="9.2715" style="paint-order:stroke markers fill"/>
                                </g>
                            </svg>
                    </button>
                    <button mat-icon-button class="icon bottom" [ngClass]="{'is-icon-active':service.getAlignVertical(elemId) == 'bottom'}" (click)="onVerticalAlign(elemId,'bottom')">
                            <svg width="25" height="25" version="1.1" viewBox="0 0 13.229 13.229" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                                <g transform="translate(0 -283.77)" stroke-width="0">
                                <rect x="1.5902" y="285.73" width=".65729" height="9.2715" style="paint-order:stroke markers fill"/>
                                <rect x="2.2516" y="286.72" width="4.9804" height="7.3108" opacity=".495" style="paint-order:stroke markers fill"/>
                                <rect x="10.204" y="285.73" width=".65729" height="9.2715" style="paint-order:stroke markers fill"/>
                                <rect transform="rotate(90)" x="285.73" y="-10.862" width=".65729" height="9.2715" style="paint-order:stroke markers fill"/>
                                <rect transform="rotate(90)" x="294.34" y="-10.862" width=".65729" height="9.2715" style="paint-order:stroke markers fill"/>
                                </g>
                                </svg>
                    </button>
                    <div style="border-bottom:1px dashed"><small>Padding</small></div>
                    <div class="padding-item icon left"  (click)="onClickStop($event)">
                        <svg width="25" height="25" version="1.1" viewBox="0 0 13.229 13.229" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                            <g transform="translate(0 -283.77)" stroke-width="0">
                            <rect x="1.5902" y="285.73" width="2.4054" height="9.2715" style="paint-order:stroke markers fill"/>
                            <rect transform="matrix(-.018399 -.99983 1 -.0012057 0 0)" x="-290.47" y="-1.2088" width=".44875" height="5.2585" style="paint-order:stroke markers fill"/>
                            <rect x="9.5513" y="285.77" width="1.3187" height="9.2715" opacity=".495" style="paint-order:stroke markers fill"/>
                            <g transform="translate(0 .33073)">
                            <rect transform="matrix(-.74544 -.66657 .61102 -.79162 0 0)" x="-181.15" y="-213.72" width=".42924" height="1.8753" style="paint-order:stroke markers fill"/>
                            <rect transform="matrix(-.74544 .66657 .61102 .79162 0 0)" x="174" y="219.58" width=".42924" height="1.8753" style="paint-order:stroke markers fill"/>
                            </g>
                            <g transform="matrix(-1 0 0 1 13.529 .32439)">
                            <rect transform="matrix(-.74544 -.66657 .61102 -.79162 0 0)" x="-181.15" y="-213.72" width=".42924" height="1.8753" style="paint-order:stroke markers fill"/>
                            <rect transform="matrix(-.74544 .66657 .61102 .79162 0 0)" x="174" y="219.58" width=".42924" height="1.8753" style="paint-order:stroke markers fill"/>
                            </g>
                            </g>
                        </svg>
                        <mat-slider min="0" max="50" step="1" [value]="service.getPadding(elemId,'left')" thumbLabel tickInterval="1" (change)="onPaddingChange(elemId,'left',$event)"></mat-slider>
                    </div>
                    <div class="padding-item icon right"  (click)="onClickStop($event)">
                            <svg width="25" height="25" version="1.1" viewBox="0 0 13.229 13.229" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                                <g transform="translate(0 -283.77)" stroke-width="0">
                                <rect x="1.5902" y="285.73" width="2.4054" height="9.2715" style="paint-order:stroke markers fill"/>
                                <rect transform="matrix(-.018399 -.99983 1 -.0012057 0 0)" x="-290.47" y="-1.2088" width=".44875" height="5.2585" style="paint-order:stroke markers fill"/>
                                <rect x="9.5513" y="285.77" width="1.3187" height="9.2715" opacity=".495" style="paint-order:stroke markers fill"/>
                                <g transform="translate(0 .33073)">
                                <rect transform="matrix(-.74544 -.66657 .61102 -.79162 0 0)" x="-181.15" y="-213.72" width=".42924" height="1.8753" style="paint-order:stroke markers fill"/>
                                <rect transform="matrix(-.74544 .66657 .61102 .79162 0 0)" x="174" y="219.58" width=".42924" height="1.8753" style="paint-order:stroke markers fill"/>
                                </g>
                                <g transform="matrix(-1 0 0 1 13.529 .32439)">
                                <rect transform="matrix(-.74544 -.66657 .61102 -.79162 0 0)" x="-181.15" y="-213.72" width=".42924" height="1.8753" style="paint-order:stroke markers fill"/>
                                <rect transform="matrix(-.74544 .66657 .61102 .79162 0 0)" x="174" y="219.58" width=".42924" height="1.8753" style="paint-order:stroke markers fill"/>
                                </g>
                                </g>
                            </svg>
                            <mat-slider min="0" max="50" step="1" [value]="service.getPadding(elemId,'right')" thumbLabel tickInterval="1" (change)="onPaddingChange(elemId,'right',$event)"></mat-slider>
                    </div>
                    <div class="padding-item icon top"  (click)="onClickStop($event)">
                            <svg width="25" height="25" version="1.1" viewBox="0 0 13.229 13.229" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                                <g transform="translate(0 -283.77)" stroke-width="0">
                                <rect x="1.5902" y="285.73" width="2.4054" height="9.2715" style="paint-order:stroke markers fill"/>
                                <rect transform="matrix(-.018399 -.99983 1 -.0012057 0 0)" x="-290.47" y="-1.2088" width=".44875" height="5.2585" style="paint-order:stroke markers fill"/>
                                <rect x="9.5513" y="285.77" width="1.3187" height="9.2715" opacity=".495" style="paint-order:stroke markers fill"/>
                                <g transform="translate(0 .33073)">
                                <rect transform="matrix(-.74544 -.66657 .61102 -.79162 0 0)" x="-181.15" y="-213.72" width=".42924" height="1.8753" style="paint-order:stroke markers fill"/>
                                <rect transform="matrix(-.74544 .66657 .61102 .79162 0 0)" x="174" y="219.58" width=".42924" height="1.8753" style="paint-order:stroke markers fill"/>
                                </g>
                                <g transform="matrix(-1 0 0 1 13.529 .32439)">
                                <rect transform="matrix(-.74544 -.66657 .61102 -.79162 0 0)" x="-181.15" y="-213.72" width=".42924" height="1.8753" style="paint-order:stroke markers fill"/>
                                <rect transform="matrix(-.74544 .66657 .61102 .79162 0 0)" x="174" y="219.58" width=".42924" height="1.8753" style="paint-order:stroke markers fill"/>
                                </g>
                                </g>
                            </svg>
                            <mat-slider min="0" max="50" step="1" [value]="service.getPadding(elemId,'top')" thumbLabel tickInterval="1" (change)="onPaddingChange(elemId,'top',$event)"></mat-slider>
                    </div>                
                    <div class="padding-item icon bottom"  (click)="onClickStop($event)">
                            <svg width="25" height="25" version="1.1" viewBox="0 0 13.229 13.229" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                                <g transform="translate(0 -283.77)" stroke-width="0">
                                <rect x="1.5902" y="285.73" width="2.4054" height="9.2715" style="paint-order:stroke markers fill"/>
                                <rect transform="matrix(-.018399 -.99983 1 -.0012057 0 0)" x="-290.47" y="-1.2088" width=".44875" height="5.2585" style="paint-order:stroke markers fill"/>
                                <rect x="9.5513" y="285.77" width="1.3187" height="9.2715" opacity=".495" style="paint-order:stroke markers fill"/>
                                <g transform="translate(0 .33073)">
                                <rect transform="matrix(-.74544 -.66657 .61102 -.79162 0 0)" x="-181.15" y="-213.72" width=".42924" height="1.8753" style="paint-order:stroke markers fill"/>
                                <rect transform="matrix(-.74544 .66657 .61102 .79162 0 0)" x="174" y="219.58" width=".42924" height="1.8753" style="paint-order:stroke markers fill"/>
                                </g>
                                <g transform="matrix(-1 0 0 1 13.529 .32439)">
                                <rect transform="matrix(-.74544 -.66657 .61102 -.79162 0 0)" x="-181.15" y="-213.72" width=".42924" height="1.8753" style="paint-order:stroke markers fill"/>
                                <rect transform="matrix(-.74544 .66657 .61102 .79162 0 0)" x="174" y="219.58" width=".42924" height="1.8753" style="paint-order:stroke markers fill"/>
                                </g>
                                </g>
                            </svg>
                            <mat-slider min="0" max="50" step="1" [value]="service.getPadding(elemId,'bottom')" thumbLabel tickInterval="1" (change)="onPaddingChange(elemId,'bottom',$event)"></mat-slider>
                    </div>       
                    </ng-container>
                </div>
        </mat-menu>
        {{type}}
        <ng-container *ngIf="isBlock() || isWidget()">
                <button mat-icon-button (click)="onMoveUpItem()"><fa-icon [icon]="icons['up']"></fa-icon></button>
                <button mat-icon-button (click)="onMoveDownItem()"><fa-icon [icon]="icons['down']"></fa-icon></button>
                <button mat-icon-button (click)="onRemoveItem()"><fa-icon [icon]="icons['trash']"></fa-icon></button>
        </ng-container>
    </ng-container>
    </div>
</div>

