.icon {
    margin-right: 5px;
    font-size: 16px;
    opacity: 0.6;
}
mat-form-field {
    width:100%;
    padding-bottom:20px;
}
.password-button {
    width:100%;
    fa-icon {
        margin-right:10px;
    }
}




.password-area {
    width:100%;
    display:flex;
    flex-direction: column;
    margin-right: 60px;
    max-height: 0;
    height:auto;
    overflow: hidden;
}
.password-area.visible {
    max-height: 600px;
}

.controls {
    margin-top:10px;
    width:100%;
    display: flex;
    justify-content: space-around;
    fa-icon {
        margin-right:10px;
    }
}