<kii-spinner-overlay [show]="isFormLoading">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" novalidate> 
      <div class="column">
          <mat-form-field [appearance]="kiiInputAppearance">
              <mat-label>{{'a.firstName.l' | translate | async}}</mat-label>
              <input matInput formControlName="firstName" placeholder="{{'a.firstName.p' | translate | async}}" required type="text" [kiiInputDefaultValue]="defaults.firstName">
              <mat-icon matPrefix class="icon"><fa-icon [icon]="icon['name']"></fa-icon></mat-icon>
              <mat-hint>{{'a.firstName.h' | translate | async}}</mat-hint>
              <mat-error kiiInputError="firstName"></mat-error>            
          </mat-form-field>
          <mat-form-field  [appearance]="kiiInputAppearance">
              <mat-label>{{'a.lastName.l' | translate | async}}</mat-label>
              <input matInput formControlName="lastName" placeholder="{{'a.lastName.p' | translate | async}}" required type="text" [kiiInputDefaultValue]="defaults.lastName">
              <mat-icon matPrefix class="icon"><fa-icon [icon]="icon['name']"></fa-icon></mat-icon>
              <mat-hint>{{'a.lastName.h' | translate | async}}</mat-hint>
              <mat-error kiiInputError="lastName"></mat-error>            
          </mat-form-field>
          <mat-form-field [appearance]="kiiInputAppearance">
              <mat-label>{{'a.phone.l' | translate | async}}</mat-label>
              <input matInput formControlName="phone" placeholder="{{'a.phone.p' | translate | async}}" inputmode="numeric" pattern="[0-9]*" type="tel" kiiInputDigitOnly [kiiInputDefaultValue]="defaults.phone">
              <mat-icon matPrefix class="icon"><fa-icon [icon]="icon['phone']"></fa-icon></mat-icon>
              <mat-hint>{{'a.phone.h' | translate | async}}</mat-hint>
              <mat-error kiiInputError="phone"></mat-error>            
          </mat-form-field>
          <mat-form-field [appearance]="kiiInputAppearance">
              <mat-label>{{'a.mobile.l' | translate | async}}</mat-label>
              <input matInput formControlName="mobile" placeholder="{{'a.mobile.p' | translate | async}}"  inputmode="numeric" pattern="[0-9]*" type="tel" kiiInputDigitOnly [kiiInputDefaultValue]="defaults.mobile">
              <mat-icon matPrefix class="icon"><fa-icon [icon]="icon['mobile']"></fa-icon></mat-icon>
              <mat-hint>{{'a.mobile.h' | translate | async}}</mat-hint>
              <mat-error kiiInputError="mobile"></mat-error>            
          </mat-form-field>  
          <mat-form-field [appearance]="kiiInputAppearance">
              <mat-label>{{'a.email.l' | translate | async}}</mat-label>
              <input matInput formControlName="email" placeholder="{{'a.email.p' | translate | async}}" required type="email" [kiiInputDefaultValue]="defaults.email">
              <mat-icon matPrefix class="icon"><fa-icon [icon]="icon['email']"></fa-icon></mat-icon>
              <mat-hint>{{'a.email.h' | translate | async}}</mat-hint>
              <mat-error kiiInputError="email"></mat-error>            
          </mat-form-field>
          <mat-form-field [appearance]="kiiInputAppearance">
            <mat-select formControlName="language" [kiiInputDefaultValue]="defaults.language">
               <mat-option *ngFor="let language of languages" [value]="language.iso">{{language.name}}</mat-option>
            </mat-select>
            <mat-icon matPrefix class="icon"><fa-icon [icon]="icon['lang']"></fa-icon></mat-icon>
            <mat-hint>{{'a.language.h' | translate | async}}</mat-hint>
          </mat-form-field> 
          <button mat-button type="button" (click)="togglePassword()" class="password-button"><fa-icon [icon]="icon['edit']"></fa-icon>{{'a.password.modify' | translate | async}}</button> 
          <div class="password-area" [ngClass]="{'visible': modifyPassword}">
                <mat-form-field [appearance]="kiiInputAppearance">
                        <mat-label>{{'a.password.old.l' | translate | async}}</mat-label>
                        <input matInput formControlName="passwordOld" placeholder="{{'a.password.p' | translate | async}}" required type="password" [kiiDisableControl]="!modifyPassword" >
                        <mat-icon matPrefix class="icon"><fa-icon [icon]="icon['password']"></fa-icon></mat-icon>
                        <mat-hint>{{'a.password.old.h' | translate | async}}</mat-hint>
                        <mat-error kiiInputError="passwordOld"></mat-error>             
                </mat-form-field>        
                <mat-form-field [appearance]="kiiInputAppearance" >
                    <mat-label>{{'a.password.new.l' | translate | async}}</mat-label>
                    <input kiiPasswordStrength matInput formControlName="password" placeholder="{{'a.password.p' | translate | async}}" required type="password" [kiiDisableControl]="!modifyPassword" >
                    <mat-icon matPrefix class="icon"><fa-icon [icon]="icon['password']"></fa-icon></mat-icon>
                    <mat-hint>{{'a.password.new.h' | translate | async}}</mat-hint>
                    <mat-error kiiInputError="password"></mat-error>             
                </mat-form-field>
                <mat-form-field [appearance]="kiiInputAppearance" >
                    <mat-label>{{'a.passwordConfirm.new.l' | translate | async}}</mat-label>
                    <input matInput formControlName="passwordConfirm" placeholder="{{'a.passwordConfirm.p' | translate | async}}" required type="password" [kiiDisableControl]="!modifyPassword">
                    <mat-icon matPrefix class="icon"><fa-icon [icon]="icon['password']"></fa-icon></mat-icon>
                    <mat-hint>{{'a.passwordConfirm.new.h' | translate | async}}</mat-hint>
                    <mat-error kiiInputError="passwordConfirm"></mat-error>             
                </mat-form-field>
        </div>
      </div>
      <div class="column">
        <kii-image-upload></kii-image-upload>
      </div>
<!--        
        <kii-image-upload storage="avatar" [maxSize]="200" [crop]="true" [image]="defaults.avatar" (onUpload)="onUpload($event)"></kii-image-upload>
      -->
        <div class="controls" *ngIf="myForm.dirty">
            <button mat-stroked-button color="primary" type="reset" color="primary">{{'f.cancel' | translate | async}}</button>
            <button mat-flat-button color="primary" type="submit" color="primary"><fa-icon [icon]="icon['save']"></fa-icon>{{'f.save' | translate | async}}</button>
        </div>
    </form>
</kii-spinner-overlay>