.kii-profile-wrapper {
    padding-top:10px;
    padding-bottom:10px;
    h1 {
        font-size: 16px;
        line-height: 16px;
    }
    i {
        margin-left:10px;
        margin-right:10px;
    }

}
.kii-profile-wrapper-form {
    padding-left:15px;
}
.creation-dates {
    margin-top:3px;
    margin-bottom:2px;
    text-align: right;
    opacity:0.6;
    small {
        font-size: 10px;
    }
}
::ng-deep .mat-form-field-disabled mat-hint {
    display:none;
}

::ng-deep .field-wrapper .mat-form-field-wrapper {
    transition : padding-bottom 0.2s ease-in-out;
    padding-bottom:0px;
}
::ng-deep .field-wrapper .mat-form-field:not(.mat-form-field-disabled) .mat-form-field-wrapper {
    padding-bottom:20px;
}
::ng-deep .field-wrapper mat-form-field {
    margin-bottom:3px;
}

