
.content {
    margin:0 auto;
    width:100%;
    max-width: 700px;
    padding:20px 0px;
    min-height: 60vh;
}
.btn.mat-button {
    width:100%;
    text-align: left;
    margin:3px 0;
    fa-icon {
        margin-right: 10px;
    }
}
.dates {
    opacity: 0.6;
    font-size: 12px;
    text-align: right;
    fa-icon{
        margin-left:10px;
    }
}

.title {
    fa-icon {
        margin-right: 10px;
    }
}


@media only screen and (min-width: 700px) { 
    .profile-wrp {
        background: url('/assets/kiilib/images/background.webp');
        background-size: cover;
    }
}

