@import '~@angular/material/theming';

// mixin name will be used in main style.scss
@mixin contact-mixin($theme) {
  
  // retrieve variables from theme 
  // (all possible variables, use only what you really need)
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background:map-get($theme,background);
  $is-dark-theme: map-get($theme, is-dark);

  //Default background of the map when we are on server side
  kii-osm {
      .kii-osm {
          background: mat-color($background,card);
      }
  }
}