@import '~@angular/material/theming';

// mixin name will be used in main style.scss
@mixin demo-mixin($theme) {
  
  // retrieve variables from theme 
  // (all possible variables, use only what you really need)
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background:map-get($theme,background);
  $is-dark-theme: map-get($theme, is-dark);

  //Default background of the map when we are on server side
  kii-element.demo-features .kii-element-container {
    margin-bottom: 30px;
    padding:10px;
    box-sizing: border-box;
    background:mat-color($background,card);
    .title {
        font-size: 18px;
        text-align: center;
        margin-bottom: 5px;
    }
    .description {
        font-size: 14px;
        text-align: center;
        opacity: 0.6;
        margin-top:0;

    }
    .img-wrp {
        display: none;
    }
  }
    //Desktops
    @media (pointer: fine)  { 
        kii-element.demo-features .kii-element-container {
            &:hover {
                .title {
                    color: mat-color($primary);
                }
            }
        }
    }
    //Tablet and phones
    @media (pointer: coarse) {
        kii-element.demo-features .kii-element-container {
            &.kii-appear {
                .title {
                    color: mat-color($primary);
                }
            }
        }
    }
}