@import '~@angular/material/theming';

// mixin name will be used in main style.scss
@mixin editor-mixin($theme) {
  
  // retrieve variables from theme 
  // (all possible variables, use only what you really need)
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background:map-get($theme,background);
  $is-dark-theme: map-get($theme, is-dark);

  //EDITOR MIXIN !
  kii-admin-article,kii-article {
      a {
        text-decoration: none;
        font-weight: bold;
      }
      a.default {
          color: mat-color($primary);
      }
      a.raised-button {
        padding:5px 10px;
        border-radius: 50vh;
        background-color: rgba(mat-color($primary),1);
        color: mat-color($background,background);
        box-shadow: 1px 1px 2px 2px rgba(mat-color($foreground,text),0.1);
        &:hover {
          box-shadow: 2px 2px 6px 2px rgba(mat-color($foreground,text),0.3);  
          background-color: mat-color($primary);
          color: mat-color($background,background);
        }
        &:active {
          background-color: rgba(mat-color($primary),0.6);
        }
      }
  }

/*  @media only screen and (min-width: 700px) { 
    kii-establish-password .reset-wrp, 
    kii-login .login-wrp,
    kii-login-oauth .oauth-wrp,
    kii-profile .profile-wrp,
    kii-reset-password .reset-wrp,
    kii-signup .signup-wrp
    {
        background: url('/assets/kiilib/images/background.webp');
        background-size: cover;
    }
  }*/

}