@import '~@angular/material/theming';

// mixin name will be used in main style.scss
@mixin editor-mixin($theme) {
  
  // retrieve variables from theme 
  // (all possible variables, use only what you really need)
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background:map-get($theme,background);
  $is-dark-theme: map-get($theme, is-dark);

  //CKEDITOR
  ckeditor ,kii-article .ck-content {
      .ck.ck-editor__main>.ck-editor__editable {
      color: mat-color($foreground,text);
      background: mat-color($background,background);
      }
      a {
        text-decoration: none;
        font-weight: bold;
        color: mat-color($primary);
        &:hover {
            color: mat-color($primary,darker);
        }
        &:active {
            color: mat-color($primary,lighter);
        }
      }
  }
  kii-article {
    .ck-content .table table td, .ck-content .table table th {
      min-width: 2em;
      padding: .4em;
      border-color: #d9d9d9;
    }
  }



  //EDITOR MIXIN !
/*  kii-admin-article,kii-article {
      //Handle links
      a {
        text-decoration: none;
      }
      a.default {
        font-weight: bold;
        color: mat-color($primary);
        &:hover {
            color: mat-color($primary,darker);
        }
        &:active {
            color: mat-color($primary,lighter);
        }
      }
      a.flat-button {
        padding:5px 10px;
        border-radius: 50vh;
        background-color: rgba(mat-color($primary),1);
        color: mat-color($background,background);
        &:hover {
          background-color: rgba(mat-color($primary),0.8);
          color: mat-color($background,background);
        }
        &:active {
          background-color: rgba(mat-color($primary),0.6);
        }
    }
      a.raised-button {
        padding:5px 10px;
        border-radius: 50vh;
        background-color: rgba(mat-color($primary),1);
        color: mat-color($background,background);
        box-shadow: 1px 1px 2px 2px rgba(mat-color($foreground,text),0.1);
        &:hover {
          box-shadow: 2px 2px 6px 2px rgba(mat-color($foreground,text),0.3);  
          background-color: mat-color($primary);
          color: mat-color($background,background);
        }
        &:active {
          background-color: rgba(mat-color($primary),0.6);
        }
      }
      a.stroked-button {
        padding:5px 10px;
        border-radius: 50vh;
        border:1px solid rgba(mat-color($primary),1);
        color: mat-color($primary);
        &:hover {
          background-color: rgba(mat-color($primary),0.2);
          color: mat-color($primary);
        }
        &:active {
          background-color: rgba(mat-color($primary),0.4);
        }
      }
        //Handle videos
        .video-wrapper {
            position: relative;
            padding-bottom: 56.25%; 
            padding-top: 25px;
            height: 0;
        }
        .video-wrapper iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }*/
}