@import '~@angular/material/theming';

// mixin name will be used in main style.scss
@mixin email-mixin($theme) {
  
  // retrieve variables from theme 
  // (all possible variables, use only what you really need)
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background:map-get($theme,background);
  $is-dark-theme: map-get($theme, is-dark);

  kii-email-editor {
      .kii-email-editor-wrp {
          border:1px solid mat-color($primary);
      }
  }

  kii-email-toolbar {
      .wrp {
        background:mat-color($primary);   
      }
      .menu-block-type {
          .first,.second,.third {
            background:rgba(white,0.4);

          }
      }
  }

  kii-email-block {
    .wrp.is-active {
        border:1px dashed mat-color($primary);
    }
  }
  kii-email-cell {
      .wrp {
        .content {
            border:1px solid rgba(mat-color($primary),0.2);
        }  
        .content.is-active {
            border:1px solid mat-color($primary);

        }
        .cell-toolbar {
            background:rgba(mat-color($primary),0.5);
        }
      }

  }



}