@import '~@angular/material/theming';

// mixin name will be used in main style.scss
@mixin email-mixin($theme) {
  
  // retrieve variables from theme 
  // (all possible variables, use only what you really need)
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background:map-get($theme,background);
  $is-dark-theme: map-get($theme, is-dark);

  kii-email-editor {
      .kii-email-editor-wrp {
          border:1px solid mat-color($primary);
      }
      .block,.cell,.widget {
        border:2px dashed transparent;
        &.is-active {
          border:2px dashed mat-color($primary);
        }
      }
  }
  kii-email-container-toolbar {
    .wrp {
      background:mat-color($primary);   
    }
  }
  .cdk-overlay-connected-position-bounding-box .kii-email-toolbar-menu {
    .block-type-container {
      box-sizing: border-box;
      width:50px;
      height:20px;
      margin:5px;
      display:flex;
      flex-direction: row;
      .child {
        box-sizing: border-box;
        height:20px;
        border:1px solid mat-color($foreground,text);
      }
    }
    .block-type-container.simple {
      .first {
        flex:1;
      }
      .second,.third,.fourth {
        display:none;
      }
    }
    .block-type-container.double {
      .first,.second {
        flex:1;
      }
      .third,.fourth {
        display:none;
      }
    }
    .block-type-container.triple {
      .first,.second,.third {
        flex:1;
      }
      .fourth {
        display:none;
      }
    }
    .block-type-container.double_2080 {
      .first {
        flex:1;
      }
      .second {
        flex:3;
      }
      .third,.fourth {
        display:none;
      }
    }
    .block-type-container.double_3070 {
      .first {
        flex:1;
      }
      .second {
        flex:2;
      }
      .third,.fourth {
        display:none;
      }
    }
    .block-type-container.double_8020 {
      .first {
        flex:3;
      }
      .second {
        flex:1;
      }
      .third,.fourth {
        display:none;
      }
    }
    .block-type-container.double_7030 {
      .first {
        flex:2;
      }
      .second {
        flex:1;
      }
      .third,.fourth {
        display:none;
      }
    }
    .block-type-container.quad {
      .first,.second,.third,.fourth {
        flex:1;
      }
    }

  }

  //Style widget
  kii-email-widget {
    .editing-part {
      background:rgba(mat-color($primary),0.2);
    }
  }
  //Style main menu
  .cdk-overlay-connected-position-bounding-box .kii-email-toolbar-menu {
    fa-icon.is-icon-active{
      color:mat-color($accent);
    }

    .icon svg {
      fill:mat-color($foreground,text);
    }
    .icon.is-icon-active svg  {
      fill:mat-color($accent);
    }

    .padding-item {
      display:flex;
      justify-content: flex-start;
      align-items: center;
      mat-slider {
        flex: 1 1 auto;
      }
    }
    .right svg {
      transform:scale(-1,1);
    }
    .top svg {
      transform:rotate(90deg);
    }    
    .bottom svg {
      transform:rotate(270deg);
    }
    .widget-icon {
      margin:5px;
      font-size: 20px;
    }
  }


}