@import '~@angular/material/theming';

// mixin name will be used in main style.scss
@mixin footer-mixin($theme) {
  
  // retrieve variables from theme 
  // (all possible variables, use only what you really need)
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background:map-get($theme,background);
  $is-dark-theme: map-get($theme, is-dark);

    kii-footer {
        kii-newsletter-form {
            input {
                border:1px solid;
                border-radius: 5px;
                color: mat-color(map-get($theme, foreground),text);
            }
            input:focus {
                border-color: mat-color($primary);
            }
        }
        kii-newsletter .wrp {
            background-image: url("/assets/images/newsletter-background.svg");
            background-repeat: no-repeat;
            background-size: auto 100%;
            background-position: left center;
            padding-top:40px;
            padding-bottom:50px;
        }
        .end {
            padding-top:80px;
            transition:padding-top 0.3s ease-in-out;
            padding-bottom:10px;
            background-image: url("/assets/images/footer.svg");
            background-repeat: no-repeat;
            background-position: center top;
            background-size: 100% auto;
            background-color: mat-color(mat-palette($mat-grey,200));
            color:mat-color(mat-palette($mat-grey, 700));
            .link {
                color:mat-color(mat-palette($mat-grey, 700));
                font-weight: bold;
            }
        }
        @media only screen and (min-width: 700px) { 
            .end {
                padding-top:150px;
            }
        }
        @media only screen and (min-width: 1200px) { 
            .end {
                padding-top:200px;
            }
        }

/*        .kii-footer-wrapper {
            background:black;
        }
        mat-card {
            background:none !important;
            box-shadow: none !important;
            .mat-card-header-text {
                margin-left:0px !important;
            }
        }
        .kii-newsletter {
            background-image: url("/assets/images/newsletter-background.svg");
            background-repeat: no-repeat;
            background-size: auto 100%;
            background-position: left top;
            margin-top:0px;
            padding-bottom:50px !important;
        }
        .kii-footer-link {
            text-decoration: none;
            color: mat-color(mat-palette($mat-grey,900));
            opacity: 0.8;
        }
        .kii-footer-link:hover {
            opacity:1;
        }
        .kii-footer-end {
            padding-top:80px;
            transition:padding-top 0.3s ease-in-out;
            padding-bottom:10px;
            background-image: url("/assets/images/footer.svg");
            background-repeat: no-repeat;
            background-position: left top;
            background-size: cover;
            color:mat-color(mat-palette($mat-grey, 700));
        }
        app-footer {
            .title {
                color: mat-color(mat-palette($mat-grey,500));
            }
            .footer-item {
                color:mat-color(mat-palette($mat-grey, 700));
            }
        }
    } 
    @media only screen and (min-width: 550px) { 
        kii-footer .kii-footer-end {
            padding-top:100px;
        }
    }
    @media only screen and (min-width: 700px) { 
        kii-footer .kii-footer-end {
            padding-top:110px;
        }
    }
    @media only screen and (min-width: 900px) { 
        kii-footer .kii-footer-end {
            padding-top:150px;
        }
    }
    @media only screen and (min-width: 1200px) { 
        kii-footer .kii-footer-end {
            padding-top:180px;
        }*/
    }

}
