//MATERIAL THEME
@import '~@angular/material/theming';


// Defines the scrollbar style
@mixin general-mixin($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $foreground: map-get($theme, foreground);
    $background:map-get($theme,background);


    //Set global text color
    body {
        color:mat-color(map-get($theme, foreground),text);
    }

    //Redefine buttons
    app-root,.cdk-overlay-container {
        .mat-stroked-button,.mat-flat-button,.mat-raised-button {
            border-radius: 50vh;
        }
        .mat-stroked-button {
            border:1.5px solid;
            border-color: mat-color(map-get($theme, foreground),text);
            &.mat-primary {
                border-color:mat-color($primary);
            }
            &.mat-accent {
                border-color:mat-color($accent);
            }
            &.mat-warn {
                border-color:mat-color($warn);
            }
        }
        .mat-stroked-button:hover {
            background:mat-color(map-get($theme, foreground),text);
            color:mat-color(map-get($theme, background),background);
            &.mat-primary {
                background:mat-color($primary);
            }
            &.mat-accent {
                background:mat-color($accent);
            }
            &.mat-warn {
                background:mat-color($warn);
            }                        
        }
        //WA for multiline checkbox
        .mat-checkbox-layout { white-space: normal; }
        form.ng-touched .mat-checkbox.ng-invalid .mat-checkbox-frame {
            border-color: mat-color($warn);
        }
        form.ng-touched .mat-checkbox.ng-invalid .mat-checkbox-label {
            color:mat-color($warn);
        }

        //Add default value
        mat-form-field .kii-input-default {
            opacity:0.5;
        }

        .c-primary {
            color:mat-color($primary);
        }
        .c-accent {
            color:mat-color($accent);
        }
        .c-warn {
            color:mat-color($warn);
        }

    }
}