@import '~@angular/material/theming';

// mixin name will be used in main style.scss
@mixin home-mixin($theme) {
  
  // retrieve variables from theme 
  // (all possible variables, use only what you really need)
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background:map-get($theme,background);
  $is-dark-theme: map-get($theme, is-dark);

    kii-element.home-features .kii-element-container {
        padding-left:10px;
        padding-right:10px;
    }
    kii-element.home-features:nth-child(odd) {
        .kii-element-container {
            padding-top:80px;
            padding-bottom:40px;
            background-image:url("/assets/images/home/top-element-background.svg");
            background-position: left bottom;
            background-size: auto 100%;
            background-repeat: no-repeat;
        }
    }

    kii-element.home-features {
        max-width: 650px;
        min-width: 300px; 
        kii-article-summary {
            img {
                width: 70px;
                height:70px;
            }
            .title {
                display:none;
            }
            .description {
                font-size: 22px;
                margin-bottom:0px;
            }
        }
    }
    @media only screen and (min-width: 700px) { 
        kii-element.home-features .kii-element-container {
            max-width: 50vw;
        }
        kii-element.home-features:nth-child(odd) {
            .kii-element-container {
                padding-left:50vw;
            }
        }
        kii-element.home-features kii-article-summary {
            img {
                width: 90px;
                height:90px;
            }
            .description {
                font-size: 26px;
            }
        }
    }

    ///////////////////////////////////////////////////////////////////////
    //REALISATIONS PART
    ///////////////////////////////////////////////////////////////////////
    .realisations-container {
        display:flex;
        flex-direction: row;
        justify-items: center;
        align-items: stretch;
        box-sizing: border-box;
    }
    kii-element.realisations {
        .kii-element-container {
            display:flex;
            flex-direction: column;
            height:100%;
            background-color:mat-color($background,card);
            box-sizing: border-box;
            margin: 0 10px;
            width:200px;
            height:400px;
            border:1px solid;
        }
        kii-article-summary {
            flex:1 1 auto;
        }
        .kii-article-summary-container {
            .img-wrp {
                height:200px;
                width:100%;
                position: relative;
                overflow: hidden;
                img {
                    position: absolute;
                    width:100%;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                }
            }
            .text-wrp {
                flex:1;
                height:100%;
                padding:0 10px;
                .title {
                    font-weight: bold;
                    padding-bottom:10px;
                    border-bottom:1px solid;
                }
                .description {
                    font-size: 14px;
                }
            }
        }
        kii-article {
            align-self: flex-start;
            justify-self: flex-end;
            .kii-editor-wrapper {
                padding:0px 0px 10px 10px;
            }
        }
    }
}