//MATERIAL THEME
@import '~@angular/material/theming';


// Defines themes for components that are always used (main context)
@mixin main-mixin($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $foreground: map-get($theme, foreground);
    $background:map-get($theme,background);


    //Set global text color
    body {
        color:mat-color(map-get($theme, foreground),text);
    }

    ///////////////////////////////////////////////////////////////////////
    //Redefine mat-buttons
    ///////////////////////////////////////////////////////////////////////
    app-root,.cdk-overlay-container {
        .mat-stroked-button,.mat-flat-button,.mat-raised-button {
            border-radius: 50vh;
        }
        .mat-stroked-button {
            border:1.5px solid;
            border-color: mat-color(map-get($theme, foreground),text);
            &.mat-primary {
                border-color:mat-color($primary);
            }
            &.mat-accent {
                border-color:mat-color($accent);
            }
            &.mat-warn {
                border-color:mat-color($warn);
            }
        }
        .mat-stroked-button:hover {
            background:mat-color(map-get($theme, foreground),text);
            color:mat-color(map-get($theme, background),background);
            &.mat-primary {
                background:mat-color($primary);
            }
            &.mat-accent {
                background:mat-color($accent);
            }
            &.mat-warn {
                background:mat-color($warn);
            }                        
        }
        //WA for multiline checkbox
        .mat-checkbox-layout { white-space: normal; }
        form.ng-touched .mat-checkbox.ng-invalid .mat-checkbox-frame {
            border-color: mat-color($warn);
        }
        form.ng-touched .mat-checkbox.ng-invalid .mat-checkbox-label {
            color:mat-color($warn);
        }

        //Add default value
        mat-form-field .kii-input-default {
            opacity:0.5;
        }

        .c-primary {
            color:mat-color($primary);
        }
        .c-accent {
            color:mat-color($accent);
        }
        .c-warn {
            color:mat-color($warn);
        }
    }

    ///////////////////////////////////////////////////////////////////////
    //scrollbar definition
    ///////////////////////////////////////////////////////////////////////
    ::-webkit-scrollbar {
        //opacity: 0.5;
        background-color:rgba(mat-color(map-get($theme, background),background),1);
        width:5px;
        height:5px;
    }
    
    ::-webkit-scrollbar-thumb {
          border-radius: 50vh;
          background-color: rgba(mat-color(map-get($theme, foreground),text),0.6);
    }
    body * {
        scrollbar-color: rgba(mat-color(map-get($theme, foreground),text),0.6) rgba(mat-color(map-get($theme, background),background),1);
        scrollbar-width: thin;
        -ms-scrollbar-width:thin;
    }

    ///////////////////////////////////////////////////////////////////////
    //POPUP DIALOG
    ///////////////////////////////////////////////////////////////////////    
    kii-popup-dialog {
        .popup-wrp {
            background:rgba(black,0.4);
        }
        .content {
            padding:20px;
            background:red;
        }
  
    }

    ///////////////////////////////////////////////////////////////////////
    //EDITOR
    ///////////////////////////////////////////////////////////////////////   
    ckeditor ,kii-article .ck-content {
        .ck.ck-editor__main>.ck-editor__editable {
        color: mat-color($foreground,text);
        background: mat-color($background,background);
        }
        a {
          text-decoration: none;
          font-weight: bold;
          color: mat-color($primary);
          &:hover {
              color: mat-color($primary,darker);
          }
          &:active {
              color: mat-color($primary,lighter);
          }
        }
        p.ck-heading_vmargin_05 {
            display: block;
            margin-block-start: 0.5em;
            margin-block-end: 0.5em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
        }
        p.ck-heading_vmargin_03 {
            display: block;
            margin-block-start: 0.3em;
            margin-block-end: 0.3em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
        }
    }
    kii-article {
        .ck-content {
            .table table td, .ck-content .table table th {
                min-width: 2em;
                padding: .4em;
                border-color: #d9d9d9;
            }
            .text-huge {
                font-size: 1.8em;
            }
            .text-big {
                font-size: 1.4em;
            }
            .text-small {
                font-size: 0.85em;
            }
            .text-tiny {
                font-size: 0.7em;
            }
            code {
                background-color: hsla(0,0%,78%,.3);
                padding: .15em;
                border-radius: 2px;
            }
            blockquote {
                overflow: hidden;
                padding-right: 1.5em;
                padding-left: 1.5em;
                margin-left: 0;
                margin-right: 0;
                font-style: italic;
                border-left: 5px solid #ccc;
            }
            .image {
                display: table;
                clear: both;
                text-align: center;
                margin: 1em auto;
            }
            .image>img {
                display: block;
                margin: 0 auto;
                max-width: 100%;
                min-width: 50px;
            }
        }
    }
    kii-article.add-padding {
        .kii-editor-wrapper {
            padding:15px;
        }
    }
    @media only screen and (min-width: 700px) { 
        kii-article.add-padding {
            .kii-editor-wrapper {
                padding:30px;
            }
        }
    }

    ///////////////////////////////////////////////////////////////////////
    //FOOTER
    ///////////////////////////////////////////////////////////////////////   
    kii-footer {
        kii-newsletter-form {
            input {
                border:1px solid;
                border-radius: 5px;
                color: mat-color(map-get($theme, foreground),text);
            }
            input:focus {
                border-color: mat-color($primary);
            }
        }
        kii-newsletter .wrp {
            background-image: url("/assets/images/newsletter/newsletter-background.svg");
            background-repeat: no-repeat;
            background-size: auto 100%;
            background-position: left center;
            padding-top:40px;
            padding-bottom:50px;
        }
        .end {
            padding-top:80px;
            transition:padding-top 0.3s ease-in-out;
            padding-bottom:10px;
            background-image: url("/assets/images/footer/footer.svg");
            background-repeat: no-repeat;
            background-position: center top;
            background-size: 100% auto;
            background-color: mat-color(mat-palette($mat-grey,200));
            color:mat-color(mat-palette($mat-grey, 700));
            .link {
                color:mat-color(mat-palette($mat-grey, 700));
                font-weight: bold;
            }
        }
        @media only screen and (min-width: 700px) { 
            .end {
                padding-top:150px;
            }
        }
        @media only screen and (min-width: 1200px) { 
            .end {
                padding-top:200px;
            }
        }
    }

    ///////////////////////////////////////////////////////////////////////
    //Horizontal scroller
    ///////////////////////////////////////////////////////////////////////
    kii-horizontal-scroller .left,
    kii-horizontal-scroller .right    
     {
        background-color: rgba(mat-color($foreground,text),0.5);
        color: rgba(mat-color($background,background),0.5);
    }


}