//MATERIAL THEME
@import '~@angular/material/theming';


// Defines the scrollbar style
@mixin scrollbar-mixin($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $foreground: map-get($theme, foreground);
    $background:map-get($theme,background);

  ::-webkit-scrollbar {
    //opacity: 0.5;
    background-color:rgba(mat-color(map-get($theme, background),background),1);
    width:5px;
    height:5px;
  }

  ::-webkit-scrollbar-thumb {
      border-radius: 50vh;
      background-color: rgba(mat-color(map-get($theme, foreground),text),0.6);
  }
  body * {
    scrollbar-color: rgba(mat-color(map-get($theme, foreground),text),0.6) rgba(mat-color(map-get($theme, background),background),1);
    scrollbar-width: thin;
    -ms-scrollbar-width:thin;
  }
}