<kii-toolbar></kii-toolbar>
<kii-admin-theme></kii-admin-theme>
<div class="admin-theme email-wrapper">  
  <kii-spinner-overlay [show]="isLoading">  
    <h1>{{'admin.emails.title' | translate | async}}</h1>
    <kii-email-editor></kii-email-editor>
    <!--<kii-email-preview [html]="previewHtml"></kii-email-preview>-->
    <!--<button mat-flat-button color="primary" (click)="testEmail()">Test email</button>
    <email-editor (load)="editorLoaded($event)"></email-editor>
    <button (click)="exportHtml()">Export</button>-->
  </kii-spinner-overlay>  
</div>
