.email-wrapper {
    min-height: 100vh;
    box-sizing: border-box;
    padding:60px 20px 20px 20px;
    h1 {
        border-bottom: 1px solid;
    }

    mat-panel-title {
        font-size: 20px;
        fa-icon {
            margin-right: 15px;
        }
    }

    .title {
        margin-top:0px;
        margin-bottom:2px;
    }
    .description {
        opacity:0.6;
        margin-bottom:3px;
    }
    
    //Table part
    .table-wrapper {
        min-height: 80vh;
        padding:10px;
    }
    .table {
        width:100%;
    }
    tr.detail-row {
        height:0;
    }
    tr.element-row:not(.expanded-row):hover {
        cursor:pointer;
    }
    .element-row td {
        border-bottom-width:0;
    }
    .element-detail {
        display: flex;
    }
    .element-detail-wrapper {
        width:100%;
        max-width: 100vw;
        padding-top:10px;
        padding-bottom:10px;
    }
    
    .mat-column-id {
        width:60px;
        min-width:60px;
        max-width:60px;
    }
    .mat-column-isProtected {
        width:60px;
        min-width:60px;
        max-width:60px;
    }
    .mat-column-createdAt, .mat-column-updatedAt {
        font-size: 12px;
    }

    @media only screen and (max-width: 900px) {
        .mat-column-createdAt {
            display:none;
        }
        .mat-column-updatedAt {
            display:none;
        }    
    }
    @media only screen and (max-width: 500px) {
        .mat-column-isProtected {
            display: none;
        }
        .table-wrapper {
            padding:0px;
        }
        .wrapper {
            padding-left:0px;
            padding-right:0px;
        }
    }

    .element-detail-wrapper {
        .edit-wrapper {
            kii-email-editor {
                width:100%;
            }
        }
        .delete-wrapper {
            display:flex;
            justify-content: flex-end;
            fa-icon {
                margin-right: 10px;
            }
        }
        .send-wrapper {
            padding:10px;
            fa-icon {
                margin-right: 10px;
            }
        }
    }

}

